<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN MAIN PAGE</title>
    <link rel="stylesheet" href="/css/info/index.css">
    <link rel="stylesheet" href="/css/info/main.css">
</head>
<body>
    <div id="wrap" class="w100">
        <div class="center">
            <a href="/admin/notice_list"><div class="main_btn">NOTICE</div></a>
            <a href="/admin/about_list"><div class="main_btn">ABOUT US</div></a>
            <a href="/admin/popup_list"><div class="main_btn">POPUP</div></a>
        </div>
    </div>
</body>
</html>