<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINLOGIN</title>
    <link rel="stylesheet" href="/css/info/admin_login.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>

<body>
    <div id="wrap">
        <div id="container">
            <div class="header center">
                <h1>ADMINISTARTOR LOGIN</h1>
            </div>
            <form id="adminLogin" action="/admin/login_success" method="POST">
                <div class="login_wrap center">
                    <ul id="idInsert">
                        <li class="w100"><input id="adminid" class="w100 loginInput" placeholder="ID" name="adminid" type="text"></li>
                    </ul>
                    <ul id="pwInsert">
                        <li class="w100"><input id="adminpw" class="w100 loginInput" placeholder="PASSWORD" name="adminpw" type="password"></li>
                    </ul>
                </div>
                <input id="admin_submit" class="loginBtn" type="submit" value="LOGIN">
            </form>
            {% if flag=='0' %}
            <script type="text/javascript">
                alert('{{msg}}');
            </script>
            {% endif %}
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4./jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
</body>

</html>