<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMINLOGIN</title>
</head>

<body>
    <div id="wrap" class="w100">
        <div class="header center">
            <h1>ADMINISTARTOR LOGIN PAGE</h1>
        </div>
        <form id="adminLogin" action="/admin/login_success" method="POST">
            <div class="login_wrap center">
                <label for="adminid">ID</label>
                <input id="adminid" name="adminid" type="text">
                <label for="adminpw">PASSWORD</label>
                <input id="adminpw" name="adminpw" type="password"><br/>
                <input style="margin-top: 30px;" id="admin_submit" type="submit" value="LOGIN">
            </div>
        </form>
        {% if flag=='0' %}
        <script type="text/javascript">
            alert('{{msg}}');
        </script>
        {% endif %}
    </div>
</body>

</html>