<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN MAIN PAGE</title>
    <link rel="stylesheet" href="/css/info/index.css">
    <link rel="stylesheet" href="/css/info/main.css">
</head>
<body>
    <div id="wrap" class="w100">
        <div class="center">
            <a href="/admin/information"><div class="main_btn">학원소개</div></a>
            <a href="/admin/education"><div class="main_btn">교육과정</div></a>
            <a href="/admin/hired/interview"><div class="main_btn">취업정도</div></a>
            <a href="/admin/popup"><div class="main_btn">팝업관리</div></a>
            <a href="/admin/user"><div class="main_btn">회원관리</div></a>
        </div>
    </div>
</body>
</html>