<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>

<body>
    <div id="wrap">
        <div class="container">
            <div id="infom">
                <h1>APPLY</h1>
            </div>
            <div id="board" style="margin-bottom: 50px;">
                <form id="replied" action="/admin/apply_update" method="POST">
                    <input type="submit" value="저장">
                    <table class="table table-bordered" id="list">
                        <thead>
                            <tr>
                                <td>No.</td>
                                <td>Name</td>
                                <td>Content</td>
                                <td>Phone</td>
                                <td>Date</td>
                                <td>Replies</td>
                            </tr>
                        </thead>
                        {% for item in applyList %}
                        <textarea style="display: none;" class="itemEd">{{item.id}},{{item.replied}}</textarea>
                        <tbody>
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.content}}</td>
                                <td>{{item.number}}</td>
                                <td>{{item.userdt}}</td>
                                <td><input type="checkbox" class="visible" name="replied" value="{{item.id}}"></td>
                            </tr>
                        </tbody>

                        {% endfor %}
                    </table>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const itemEd = document.querySelectorAll('.itemEd');
        let result = [];
        itemEd.forEach(v => {
            let list = v.value.split(",");
            if (list[1] == 1) {
                return result.push(list[0])
            }
        })
        const visible = document.querySelectorAll('.visible');
        visible.forEach(v => {
            result.forEach(c => {
                if (v.value == c) {
                    v.checked = true;
                }
            })
        })
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4./jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
</body>

</html>