<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMMUNITY</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <style>
        #infom {
            margin-top: 50px;
            height: 50px;
            margin-bottom: 20px;
        }

        #infom>h1{
            margin-bottom: 30px;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let idArr = document.querySelector('#idArr').value;
            idArr = idArr.split(',');
            idArr.splice(idArr.length - 1, 1);
            idArr.forEach(v => {
                let content = document.querySelector('#content' + v);
                let pre = document.querySelector('#pre' + v);
                pre.innerHTML = `${content.value}`
            })
        });
    </script>
</head>

<body>
    <div id="wrap">
        <div id="main" class="container">
            <div id="infom" style="margin-bottom: 100px;">
                <h1>COMMUNITY</h1>
                <div id="atags">
                    <a class="btn" href="/admin/community">전체</a>
                    <a class="btn" href="/admin/community/notice">공지사항</a>
                    <a class="btn" href="/admin/community/board">게시판</a>
                    <a class="btn" href="/admin/community/qanda">Q and A</a>
                </div>
            </div>
            <div id="board" style="margin-bottom: 50px;">
                <table class="table table-boardered" id="list">
                    <thead>
                        <tr>
                            <td>No.</td>
                            <td>title</td>
                            {% if localUrl == undefined %}
                            <td>Category</td>
                            {% endif %}
                            <td>writer</td>
                            <td>Date</td>
                        </tr>
                    </thead>
                    {% for item in commList %}
                    <tbody>
                        <tr>
                            <td>{{item.num}}</td>
                            <td><a href="/admin/view?id={{item.id}}&table=community&localUrl={{localUrl}}">{{item.title}}</a></td>
                            {% if localUrl == undefined %}
                            <td><a href="/admin/community/{{item.type}}">{{item.type}}</a></td>
                            {% endif %}
                            <td>{{item.writer}}</td>
                            <td>{{item.write_date}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <div class="footer center">
                <div id="pagenation">
                    {% for item in pagin %}
                    <a style="border: none;" href="/admin/community/{{localUrl}}?id={{item}}">{{item}}</a>
                    {% endfor %}
                </div>
                {% if localUrl != undefined %}
                <a class="btn" href="/admin/upload?title=community&localUrl={{localUrl}}">WRITE</a>
                {% endif %}
                <a class="main_btn btn" href="/admin/main">MAIN</a>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4./jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
</body>

</html>