<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMMUNITY</title>
    <link rel="stylesheet" href="/css/info/index.css">
    <link rel="stylesheet" href="/css/info/list.css">
    <style>
        a {
            display: inline-block;
            width: auto;
            height: 50px;
            padding: 15px;
            text-align: center;
            text-decoration: none;
            border: 1px solid #000;
            box-sizing: border-box;
            color: #000;
        }

        #infom {
            margin-top: 50px;
            height: 50px;
            margin-bottom: 20px;
        }

        #infom>h1{
            margin-bottom: 30px;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let idArr = document.querySelector('#idArr').value;
            idArr = idArr.split(',');
            idArr.splice(idArr.length - 1, 1);
            idArr.forEach(v => {
                let content = document.querySelector('#content' + v);
                let pre = document.querySelector('#pre' + v);
                pre.innerHTML = `${content.value}`
            })
        });

    </script>
</head>

<body>
    <div id="wrap">
        <div id="main" class="center">
            <div id="infom" style="margin-bottom: 100px;">
                <h1>COMMUNITY</h1>
                <div id="atags">
                    <a href="/admin/community/notice">공지사항</a>
                    <a href="/admin/community/board">게시판</a>
                    <a href="/admin/community/qanda">Q and A</a>
                </div>
            </div>
            <div id="board" style="margin-bottom: 50px;">
               
                <table  id="list">
                    <tr>
                        <td>No.</td>
                        <td>title</td>
                        <td>writer</td>
                        <td>Date</td>
                    </tr>
                    {% for item in commList %}
                    <tr>
                        <td>{{item.num}}</td>
                        <td><a style="color: #fff" href="/admin/view?id={{item.id}}&table=community&localUrl={{localUrl}}">{{item.title}}</a>
                        </td>
                        <td>{{item.writer}}</td>
                        <td>{{item.write_date}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="footer center">
                <div id="pagenation">
                    {% for item in pagin %}
                    <a style="border: none;" href="/admin/community/{{localUrl}}?id={{item}}">{{item}}</a>
                    {% endfor %}
                </div>
                <a href="/admin/upload?title=community">WRITE</a>
                <a class="main_btn btn" href="/admin/main">MAIN</a>
            </div>


        </div>
    </div>
</body>

</html>