<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDUCATION</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <style>
        #infom {
            margin-top: 50px;
            height: 50px;
            margin-bottom: 20px;
        }

        #infom>h1 {
            margin-bottom: 30px;
        }
    </style>
</head>

<body>
    <div id="wrap" class="w100">
        <div id="main" class="container">
            <div id="infom">
                <h1>EDUCATION</h1>
            </div>
            <div id="board">
                <form id="visibility" action="/admin/education_update" method="POST">
                    <input type="submit" class="btn" value="저장">
                    <table id="list" class="table table-boardered">
                        <thead>
                            <tr>
                                <td>No.</td>
                                <td>Visibility</td>
                                <td>Title</td>
                                <td>Writer</td>
                                <td>Date</td>
                            </tr>
                        </thead>
                        {% for item in edList %}
                        <textarea style="display: none;" class="itemEd">{{item.id}},{{item.visibility}}</textarea>
                        <tbody>
                            <tr>
                                <td>{{item.num}}</td>
                                <td><input type="checkbox" class="visible" name="visibility" value="{{item.id}}"></td>
                                <td><a href="/admin/view?id={{item.id}}&table=education">{{item.title}}</a></td>
                                <td>writer</td>
                                <td>{{item.date}}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </form>
            </div>
            <div class="footer center">
                <div id="pagenation">
                    {% for item in pagin %}
                    <a style="border: none;" href="/admin/education?id={{item}}">{{item}}</a>
                    {% endfor %}
                </div>
                <a class="write_btn btn" href="/admin/upload?title=education">WRITE</a>
                <a class="main_btn btn" href="/admin/main">MAIN</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const itemEd = document.querySelectorAll('.itemEd');
        let result = [];
        itemEd.forEach(v => {
            let list = v.value.split(",");
            if (list[1] == 1) {
                return result.push(list[0])
            }
        })
        const visible = document.querySelectorAll('.visible');
        visible.forEach(v => {
            result.forEach(c=>{
                if(v.value == c){
                    v.checked = true;
                }
            })
        })
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4./jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
</body>
</html>