<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HIRED</title>
    <style>
        #infom {
            margin-top: 50px;
            height: 150px;
            margin-bottom: 20px;
        }

        #infom>h1 {
            margin-bottom: 30px;
        }
    </style>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>

<body>

    <div id="wrap" class="w100">
        <div id="main" class="container">
            <div id="infom">
                <h1>HIRED</h1>
                <div id="atags">
                    <a class="btn" href="/admin/hired">전체</a>
                    <a class="btn" href="/admin/hired/interview">인터뷰</a>
                    <a class="btn" href="/admin/hired/portfolio">포트폴리오</a>
                </div>
            </div>
            <div id="board">
                <table id="list" class="table table-boardered">
                    <thead>
                        <tr>
                            <td>No.</td>
                            <td>Title</td>
                            {% if localUrl == undefined %}
                            <td>Category</td>
                            {% endif %}
                            <td>Writer</td>
                            <td>Date</td>
                        </tr>
                    </thead>
                    {% for item in hireList %}
                    <tbody>
                        <tr>
                            <td>{{item.num}}</td>
                            <td><a href="/admin/view?id={{item.id}}&table=hired&localUrl={{localUrl}}">{{item.title}}</a></td>
                            {% if localUrl == undefined %}
                            <td><a href="/admin/hired/{{item.type}}">{{item.type}}</a></td>
                            {% endif %}
                            <td>writer</td>
                            <td>{{item.date}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
            <div class="footer center">
                <div id="pagenation">
                    {% for item in pagin %}
                    <a style="border: none;" href="/admin/hired/{{localUrl}}/?id={{item}}">{{item}}</a>
                    {% endfor %}
                </div>
                <a class="write_btn btn" href="/admin/upload?title=hired&localUrl={{localUrl}}">WRITE</a>
                <a class="main_btn btn" href="/admin/main">MAIN</a>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4./jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
</body>

</html>