<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify</title>
    <link rel="stylesheet" src="./css/info/index.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
</head>

<body>
    <div id="wrap">
        <div class="container">
            <h1>MODIFY</h1>
            <form action="/admin/modify_success" id="modify_form" method="POST">
                <input type="text" name="localUrl" style="display:none;" value="{{localUrl}}">
                <input type="text" name="type" style="display:none;" value="{{table}}">
                <input type="text" style="display: none;" name="writer" id="writer" value="{{moList.writer}}">

                <div id="typeof" class="input">
                    {% if table=='information' %}
                    <select class="form-control" id="type" name="type">
                        <option class="option" value="intro">인사말</option>
                        <option class="option" value="history">연혁</option>
                        <option class="option" value="staff">교직원소개</option>
                        <option class="option" value="facility">시설소개</option>
                        <option class="option" value="location">오시는 길</option>
                    </select>
                    <input style="display: none;" id="comid" type="text" value="{{localUrl}}">
                    <script type="text/javascript">
                        const id = document.getElementById('comid').value;
                        const option = document.querySelectorAll('.option');
                        option.forEach(v => {
                            if (id == v.value) {
                                v.setAttribute('selected', 'true');
                            }
                        })
                    </script>
                    {% endif %}

                    {% if table =='hired' %}
                    <select class="form-control" id="type" name="type">
                        <option class="option" value="interview">취업자 인터뷰</option>
                        <option class="option" value="portfolio">포트폴리오</option>
                    </select>
                    <input style="display: none;" id="comid" type="text" value="{{localUrl}}">
                    <script type="text/javascript">
                        const id = document.getElementById('comid').value;
                        const option = document.querySelectorAll('.option');
                        option.forEach(v => {
                            if (id == v.value) {
                                v.setAttribute('selected', 'true');
                            }
                        })
                    </script>
                    {% endif %}

                    {% if table =='community' %}
                    <select class="form-control" id="type" name="type">
                        <option class="option" value="notice">공지사항</option>
                    </select>
                    <input style="display: none;" id="comid" type="text" value="{{localUrl}}">
                    <script type="text/javascript">
                        const id = document.getElementById('comid').value;
                        const option = document.querySelectorAll('.option');
                        option.forEach(v => {
                            if (id == v.value) {
                                v.setAttribute('selected', 'true');
                            }
                        })
                    </script>
                    {% endif %}

                    {% if table == "education" %}
                    <input style="display: none;" id="comid" type="text" value="{{localUrl}}">
                    <label for="edName">교육과정명</label>
                    <input type="text" name="edName" id="edName" class="form-control" value="{{moList.edName}}">
                    <label>교육기간</label>
                    <div id="date_wrap" class="input">
                        <input type="date" class="form-control" value="{{moList.ed_start_period}}" style="width: 50%; float: left;" name="edPeriod"
                            id="period">
                        <input type="date" class="form-control" value="{{moList.ed_end_period}}" style="width: 50%" name="edPeriod" id="period">
                    </div>
                    <label for="time">교육시간</label>
                    <input type="text" class="form-control" name="time" id="time" value="{{moList.time}}">
                    <div id="feeSelect">
                        <label>교육수당</label>
                        <select class="selectpicker" name="fee">
                            <option class="fee" value="훈련비 전액지원, 교통비 지급">훈련비 전액지원, 교통비 지급</option>
                            <option class="fee" value="전액국비지원">전액국비지원</option>
                            <option class="fee" value="별도문의">별도문의</option>
                        </select>
                    </div>
                    <script type="text/javascript">
                        const id = document.getElementById('comid').value;
                        const option = document.querySelectorAll('.fee');
                        option.forEach(v => {
                            if (id == v.value) {
                                v.setAttribute('selected', 'true');
                            }
                        })
                    </script>
                    {% endif %}

                </div>

                <div id="title_input" class="input">
                    <label for="title">TITLE</label>
                    <input type="text" class="form-control" name="title" id="title" value="{{moList.title}}"><br />
                </div>
                <div id="content_input" class="input">
                    <label for="content">CONTENT</label>
                    <input type="hidden" id='content' value="{{moList.content}}">
                </div>
                <textarea style="display: none;" id="modifyId" name="modifyId">{{moList.id}}</textarea>
                <textarea style="display: none;" id="modifyId" name="table">{{table}}</textarea>

                {% if table == "hired" %}
                <div id="thumbnail_wrap">
                    <label for="thumbnail">썸네일</label>
                    <input type="file" id="thumbnail" name="thumbnail">
                </div>
                {% endif %}

                <div id="summernote">
                </div>
                <textarea style="display: none;" name="content" id="result"></textarea>

                {% if table == "education" %}
                <label for="hashtag">해시태그</label>
                <input type="text" name="hashtag" id="hashtag" class="form-control" placeholder="#" value="{{moList.hashtag}}">
                {% endif %}

                <input type="submit" class="btn" id="modify_submit" value="MODIFY">

            </form>
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#summernote').summernote()
        })

        $('#summernote').summernote({
            height: 500,
            minHeight: null,
            maxHeight: null,
            lang: 'ko-KR',
            onImageUpload: function (files, editor, welEditable) {
                sendFile(files[0], editor, welEditable);
            }
        });
        const content = document.querySelector('#content').value;
        $('#summernote').summernote('code', content);

        const button = document.querySelector('#modify_submit')
        const modify_form = document.querySelector('#modify_form');

        button.addEventListener('click', submitFn)
        function submitFn() {
            let markupStr = $('#summernote').summernote('code');
            let texttitle = document.querySelector('#title').value;

            if (texttitle == '') {
                alert('Enter the subject.');
                return
            }
            result.innerHTML = markupStr;
            modify_form.submit();
        }
    </script>
</body>

</html>