<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POPUP</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <style>
        #infom {
            margin-top: 50px;
            height: 50px;
            margin-bottom: 20px;
        }

        #infom>h1 {
            margin-bottom: 30px;
        }
    </style>
</head>

<body>
    <div id="wrap" class="container">
        <div id="main" class="">
            <div id="infom">
                <h1>POPUP</h1>
            </div>
            <div id="board">
                <table id="list" class="table table-boardered">
                    <thead>
                        <tr>
                            <td>No.</td>
                            <td>Title</td>
                            <td>visibility</td>
                            <td>Writer</td>
                            <td>Date</td>
                        </tr>
                    </thead>
                    {% for item in popupList %}
                    <tbody>
                        <tr>
                            <td>{{item.num}}</td>
                            <td><a href="/admin/popup_modify?id={{item.id}}&table=popup">{{item.title}}</a></td>
                            <td>{{item.visibility}}</td>
                            <td>writer</td>
                            <td>{{item.date}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="footer center">
            <div id="pagenation">
                {% for item in pagin %}
                <a style="border: none;" href="/admin/education?id={{item}}">{{item}}</a>
                {% endfor %}
            </div>
            <a class="write_btn btn" href="/admin/popup_upload">WRITE</a>
            <a class="main_btn btn" href="/admin/main">MAIN</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4./jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
</body>

</html>