<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POPUP</title>
    <link rel="stylesheet" href="./css/info/index.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
</head>

<body>
    <div id="wrap">
        <div class="container">
            <h1>UPLOAD</h1>
            <form action="/admin/popup_upload_success" id="popup_form" method="POST">
                <input style="display: none;" type="text" name="writer" id="writer" value="최고관리자">
                <input type="text" name="localUrl" style="display:none;" value="{{title}}">
                <input style="display: none;" id="comid" type="text" value="{{localUrl}}">

                <div id="">
                    <div id="period">
                        게시기간:
                        <input type="date" name="period" value="startingdate"> ~
                        <input type="date" name="period" value="enddate">
                    </div>

                    <div id="popup">
                        팝업형태 :
                        <label for="normalpop">일반팝업</label>
                        <input id="normalpop" type="radio" name="type" value="1">
                        <label for="layerPop">레이어팝업</label>
                        <input id="layerPop" type="radio" name="type" value="0">
                    </div>

                    <div id="visibility">
                        보이기:
                        <label for="visible">VISIBLE</label>
                        <input id="visible" type="radio" class="visibility" name="visibility" value="1">
                        <label for="invisible">INVISIBLE</label>
                        <input id="invisible" type="radio" class="visibility" name="visibility" value="0">
                    </div>

                    <div id="scroll">
                        스크롤 여부 :
                        <label for="scrollallow">허용함</label>
                        <input id="scrollallow" type="radio" name="scroll" value="1">
                        <label for="scrolldeny">허용안함</label>
                        <input id="scrolldeny" type="radio" name="scroll" value="0">
                    </div>

                    <div id="size">
                        크기 :
                        <label for="sizeX">가로</label>
                        <input id="sizeX" type="text" name="size">px
                        <label for="sizeY">세로</label>
                        <input id="sizeY" type="text" name="size">px
                    </div>

                    <div id="location">
                        위치 :
                        <label for="locationX">X</label>
                        <input id="locationX" type="text" name="location">px
                        <label for="locationY">Y</label>
                        <input id="locationY" type="text" name="location">px
                    </div>
                    <div id="link">
                        링크주소 :
                        <input id="hyperlink" type="text" name="hyperlink">
                    </div>
                </div>
                <div id="titleInput">
                    <label for="title">제목</label>
                    <input id="title" class="form-control" type="text" name="title">
                </div>

                <div id="summernote">
                </div>
                <textarea style="display: none;" name="content" id="result"></textarea>
                <input type="button" class="btn" id="popup_submit" value="UPLOAD">
                <a href="/admin/popup"><input type="button" class="btn" value="LIST"></a>
            </form>
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#summernote').summernote()
        })
        $('#summernote').summernote({
            height: 500,
            minHeight: null,
            maxHeight: null,
            lang: 'ko-KR',
            onImageUpload: function (files, editor, welEditable) {
                sendFile(files[0], editor, welEditable);
            }
        });

        const button = document.querySelector('#popup_submit');
        const popupForm = document.querySelector('#popup_form');
        button.addEventListener('click', submitFn)
        function submitFn() {
            let markupStr = $('#summernote').summernote('code')
            let result = document.querySelector('#result')
            result.innerHTML = markupStr
            popupForm.submit();
        }

        const normalpop = document.querySelector('#normalpop');
        const layerPop = document.querySelector('#layerPop');
        const hyperlink = document.querySelector('#hyperlink');
        const scrollAllow = document.querySelector('#scrollallow');
        const scrollDeny = document.querySelector('#scrolldeny');
        layerPop.addEventListener('click', () => {
            hyperlink.value = "";
            hyperlink.readOnly = true;
            scrollAllow.checked = false;
            scrollAllow.onclick = function(){return true};
            scrollDeny.onclick = function(){return true};
        })
        normalpop.addEventListener('click', () => {
            hyperlink.readOnly = false;
            scrollAllow.checked = true;
            scrollAllow.onclick = function(){return false;};
            scrollDeny.onclick = function(){return false};
        })

    </script>
</body>

</html>