<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information</title>
    <link rel="stylesheet" href="./css/info/index.css">
</head>

<body>
    <h1>UPLOAD</h1>
    <form action="/admin/upload_success" id="info_form" method="POST" enctype="multipart/form-data">

        <input type="text" name="writer" id="writer" value="writer">

        <div id="img_input" class="input">
            <label for="image">IMAGE</label>
            <input type="file" name="image" id="image"><br />
        </div>

        <div id="title_input" class="input">
            <label for="title">TITLE</label>
            <input type="text" name="title" id="title"><br />
        </div>

        <div id="visibility" class="input">
            <label for=""
            <input type="radio" name="visibility" value="1">
        </div>

        <input type="button" id="info_submit" value="UPLOAD">
    </form>
    <script type="text/javascript">
        const info_submit = document.querySelector('#info_submit');
        const info_form = document.querySelector('#info_form');
    
        info_submit.addEventListener('click',()=>{
        let texttitle = document.querySelector('#title').value;
        let textcontent = document.querySelector('#content').value;
            if(texttitle == ''){
                alert('Enter the subject.');
                return
            }
            if(textcontent == ''){
                alert('Enter the content');
                return
            }
            info_form.submit();
        })
    </script>
</body>

</html>