<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPLOAD</title>
    <link rel="stylesheet" href="./css/info/index.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
</head>

<body>
    <div id="wrap">
        <div class="container">
            <h1>UPLOAD</h1>
            <form action="/admin/upload_success" id="info_form" method="POST">
                <input type="text" name="localUrl" style="display:none;" value="{{title}}">
                <input style="display: none;" type="text" name="writer" id="writer" value="최고관리자">

                <div id="typeof" class="input">
                    {% if title=='information' %}
                    <select class="form-control" id="type" name="type">
                        <option class="option" value="intro">인사말</option>
                        <option class="option" value="history">연혁</option>
                        <option class="option" value="popup">교직원소개</option>
                        <option class="option" value="facility">시설소개</option>
                        <option class="option" value="location">오시는 길</option>
                    </select>
                    <input style="display: none;" id="comid" type="text" value="{{localUrl}}">
                    <script type="text/javascript">
                        const id = document.getElementById('comid').value;
                        const option = document.querySelectorAll('.option');
                        option.forEach(v => {
                            if (id == v.value) {
                                v.setAttribute('selected', 'true');
                            }
                        })
                    </script>
                    {% endif %}

                    {% if title =='hired' %}
                    <select class="form-control" id="type" name="type">
                        <option class="option" value="interview">취업자 인터뷰</option>
                        <option class="option" value="portfolio">포트폴리오</option>
                    </select>
                    <input style="display: none;" id="comid" type="text" value="{{localUrl}}">
                    <script type="text/javascript">
                        const id = document.getElementById('comid').value;
                        const option = document.querySelectorAll('.option');
                        option.forEach(v => {
                            if (id == v.value) {
                                v.setAttribute('selected', 'true');
                            }
                        })
                    </script>
                    {% endif %}

                    {% if title =='community' %}
                    <select class="form-control" id="type" name="type">
                        <option class="option" value="notice">공지사항</option>
                        <option class="option" value="board">게시판</option>
                        <option class="option" value="qanda">Q and A</option>
                    </select>
                    <input style="display: none;" id="comid" type="text" value="{{localUrl}}">
                    <script type="text/javascript">
                        const id = document.getElementById('comid').value;
                        const option = document.querySelectorAll('.option');
                        option.forEach(v => {
                            if (id == v.value) {
                                v.setAttribute('selected', 'true');
                            }
                        })
                    </script>
                    {% endif %}

                </div>

                <div id="title_input" class="input">
                    <label for="title">TITLE</label>
                    <input type="text" class="form-control" name="title" id="title"><br />
                </div>

                <div id="summernote">
                </div>
                <textarea style="display: none;" name="content" id="result">
        </textarea>

                <input type="button" class="btn" id="info_submit" value="UPLOAD">
                <a href="/admin/main"><input type="button" class="btn" value="MAIN"></a>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#summernote').summernote()
        })
        $('#summernote').summernote({
            height: 500,
            minHeight: null,
            maxHeight: null,
            lang: 'ko-KR',
            onImageUpload: function (files, editor, welEditable) {
                sendFile(files[0], editor, welEditable);
            }
        });

        const button = document.querySelector('#info_submit')
        const info_form = document.querySelector('#info_form');

        button.addEventListener('click', submitFn)
        function submitFn() {
            let markupStr = $('#summernote').summernote('code');
            let result = document.querySelector('#result');
            let texttitle = document.querySelector('#title').value;

            if (texttitle == '') {
                alert('Enter the subject.');
                return
            }
            if (result.value == '') {
                alert('Enter the content');
                return
            }
            result.innerHTML = markupStr;
            info_form.submit();
        }
    </script>
</body>

</html>