<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USERADMIN</title>
    <link rel="stylesheet" href="/css/info/index.css">
    <link rel="stylesheet" href="/css/info/list.css">
    <style>
        a {
            display: inline-block;
            width: auto;
            height: 50px;
            padding: 15px;
            text-align: center;
            text-decoration: none;
            border: 1px solid #000;
            box-sizing: border-box;
            color: #000;
        }

        #infom {
            margin-top: 50px;
            height: 50px;
            margin-bottom: 20px;
        }

        #infom>h1{
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <div id="wrap" class="w100">
        <div id="main" class="center">
            <div id="infom">
                <h1>USER INFORMATION</h1>
            </div>

            <div id="board">
                <table id="list">
                    <tr>
                        <td>No.</td>
                        <td>User</td>
                        <td>Authority_level</td>
                        <td>Date</td>
                    </tr>
                    {% for item in userList %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td><a style="color: #fff" href="/admin/user_view?id={{item.id}}&table=user">{{item.userid}}</a></td>
                        <td>{{item.authority_level}}</td>
                        <td>{{item.userdt}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="footer center">
            <div id="pagenation">
                {% for item in pagination %}
                <a style="border: none;" href="/admin/hired/{{localUrl}}/?id={{item}}">{{item}}</a>
                {% endfor %}
            </div>
        </div>
</body>
</html>