<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER CONTROL</title>
    <!-- <link rel="stylesheet" href="/css/info/index.css">
    <link rel="stylesheet" href="/css/info/list.css"> -->
    <style>
        #infom {
            margin-top: 50px;
            height: 50px;
            margin-bottom: 20px;
        }

        #infom>h1{
            margin-bottom: 30px;
        }
    </style>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>

<body>
    <div id="wrap" class="w100">
        <div id="main" class="container">
            <div id="infom">
                <h1>USER INFORMATION</h1>
            </div>

            <div id="board">
                <table id="list" class="table table-boardered">
                    <thead>
                        <tr>
                            <td>No.</td>
                            <td>User</td>
                            <td>Authority_level</td>
                            <td>Date</td>
                        </tr>
                    </thead>
                    {% for item in userList %}
                    <tbody>
                        <tr>
                            <td>{{item.num}}</td>
                            <td><a href="/admin/user_view?id={{item.id}}&table=user">{{item.userid}}</a></td>
                            <td>{{item.authority_level}}</td>
                            <td>{{item.userdt}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="footer center">
            <div id="pagenation">
                {% for item in pagin %}
                <a style="border: none;" href="/admin/hired/{{localUrl}}/?id={{item}}">{{item}}</a>
                {% endfor %}
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4./jquery.min.js"></script>
        <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
</body>

</html>