<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFOVIEW</title>
    <link rel="stylesheet" href="/css/info/index.css">
    <link rel="stylesheet" href="/css/info/view.css">
</head>

<body>
    <div id="wrap" class="w100">
        <div id="info_header" class="center">
            <h1>{{infoList.title}}</h1>
        </div>
        <div id="content_header" class="center">
            <ul>

                <li>{{infoList.writer}}</li>
                <li>{{infodate}}</li>
            </ul>
        </div>

        <div id="content_wrap" class="center">
            <div id="content">
            {{infoList.content}}
            <img id="content_img" src="{{infoimage}}">
        </div>

        <div id="footer" class="center">
            <a href="/admin/infolist">MENU</a>
            <a href="/admin/delete?id={{infoList.id}}">DELETE</a>
            <a href="/admin/modify?id={{infoList.id}}">MODIFY</a>
        </div>
        </div>
    </div>
</body>

</html>