<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW</title>
    <link rel="stylesheet" href="/css/info/index.css">
    <link rel="stylesheet" href="/css/info/view.css">
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let content = document.querySelector('#content');
            let pre = document.querySelector('#pre');
            pre.innerHTML = `${content.value}`
        });

    </script>
</head>

<body>
    <div id="wrap" class="w100">
        <div id="info_header" class="center">
            <h1>{{infoList.title}}</h1>
        </div>
        <div id="content_header" class="center">
            <ul>
                <li>{{infoList.writer}}</li>
                <li>{{infodate}}</li>
            </ul>
        </div>
        <div id="content_wrap" class="center">
            <pre id="pre"></pre>
        </div>
        <textarea style="display: none;" id="content">{{infoList.content}}</textarea>

        <div id="footer" class="center">
            <a href="/admin/education">MENU</a>
            <a href="/admin/delete?id={{infoList.id}}&table={{table}}&localUrl={{localUrl}}">DELETE</a>
            <a href="/admin/modify?id={{infoList.id}}&table={{table}}&localUrl={{localUrl}}">MODIFY</a>
        </div>
    </div>
</body>

</html>