{% include "../layout/top.html" %}

{% if find == '0' %}
<form action="/user/find_check" method="post">
    <table>
        <tr class="">
            <td>이름을 입력해주세요:</td>
            <td>
                <input type="text" class="" name="user_name"  required>
            </td>
        </tr>
        <tr class="">
            <td>이메일을 입력해주세요:</td>
            <td>
                <input type="text" class="" name="user_email" required>
            </td>  
        </tr>
        <tr>
            <td>
                <input type="submit" name="search" value="아이디 찾기">
                <a href="/user/login">취소</a>
            </td>
        </tr>
    </table>
    </form>
{% endif %}

{% if find == '1' %}
<form action="/user/find_check?check=1" method="post">
    <table>
        <tr class="">
            <td>이름을 입력해주세요:</td>
            <td>
                <input type="text" class="" name="user_name"  required>
            </td>
        </tr>
        <tr class="">
            <td>이메일을 입력해주세요:</td>
            <td>
                <input type="text" class="" name="user_email" required>
            </td>  
        </tr>
        <tr>
            <td>
                <input type="submit" name="search" value="비밀번호 찾기">
                <a href="/user/login">취소</a>
            </td>
        </tr>
    </table>
</form>
{% endif %}
{% include "../layout/bottom.html" %}