<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/third/join_success.css">
</head>

<body>

    <div id="wrap">
        <div class="box">
            <div class="js_image">
                <img src="/uploads/check2.jpg">
            </div>
            <div class="welcome">
                <h2>회원가입이 완료되었습니다.</h2>
            </div>
            <div class="js_contents">
                {{user_name}} 님의 회원가입을 축하합니다!
                <p>
                    알차고 실속있는 서비스로 찾아뵙겠습니다.
                </p>
            
            <div class="btn">
                <a href="/">홈으로</a>
                <a href="/user/login">로그인</a>
            </div>
            </div>

        </div>
    </div>

    {% include "../layout/bottom.html" %}