{% include "../layout/top.html" %}

<h1>회원가입</h1>
<form method="POST" action="/user/join_success" id="login_form" enctype="multipart/form-data">
    <table>
        <tr>
            <td style="display: none">번호</td>
            <td><input type="text" name="id" class="" value="{{id}}" style="display:none"></td>
        </tr>
        <tr class="">
            <td>아이디:</td>
            <td><input type="text" id="userid" name="userid" class="" value="{{userid}}" maxlength="20">
                <p id="userid_msg"></p>
            </td>
        
        </tr>
        <tr class="">
            <td>비밀번호:</td>
            <td><input type="password" id="userpw" class="" name="userpw" value="{{userpw}}" mlength="6"></td>
            <td id="pwd1_msg"> </td>
        </tr>
        <tr class="">
            <td>비밀번호 확인:</td>
            <td><input type="password" id="userpw_check" class="" name="userpw_check" value="{{userpw}}" minlength="6"></td>
            <td id="pwd2_msg"> </td>
        </tr>
        <tr class="">
            <td>성별:</td>
            <td> 남자<input type="radio" name="gender" id="usergender_M" class="user_gender" value="1" required> 여자<input type="radio" id="usergender_F" name="gender" class="user_gender" value="0"></td>
        </tr>
        <tr class="">
            <td>이름:</td>
            <td><input type="text" id="user_name" name="user_name" class="" maxlength="5" required></td>
        </tr>
        <tr class="">
            <td>생년월일:</td>
            <td><input type="text" id="user_birth" name="user_birth" class="" value="{{user_birth}}" required></td>
        </tr>
        <tr class="">
            <td>전화번호:</td>
            <td><input type="text" id="user_number" class="" name="user_number" value="{{user_number}}" minlength="11" required></td>
            <td id="user_number_msg"></td>
        </tr>
        <tr class="">
            <td>이메일:</td>
            <td><input type="text" id="user_email" name="user_email" class="" value="{{user_email}}" minlength="6" required></td>
        </tr>
        <tr class="">
            <td>프로필 이미지</td>
            <td><input type="file" id="userimage" class="" name="userimage" required></td>
        </tr>
        <tr class="">
            <td>가입한 날짜:</td>
            <td>{{userdt}}</td>
        </tr>
    </table>
    <input type="submit" class="" id="login_submit" value="회원가입완료">
    <a href="/">취소</a>

</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script type="text/javascript">
    let user_name = document.querySelector('#user_name');
    let userimage = document.querySelector('#userimage');
    let user_number = document.querySelector('#user_number');
    let user_email = document.querySelector('#user_email');
    let user_birth = document.querySelector('#user_birth');
    let user_gender = document.querySelectorAll('.user_gender');
    // P A S S W O R D     C H E C K //
    let pwd1 = document.querySelector('#userpw');
    let pwd2 = document.querySelector('#userpw_check');
    const btn = document.querySelector('#login_submit');
    const login_form = document.querySelector('#login_form');
    const userid_msg = document.querySelector('#userid_msg');
    const userid = document.querySelector('#userid');
    const common = document.querySelectorAll('.common');
    //  B L O C K I N G      N U L L + P A S S W O R D     C H E C K //    
    btn.addEventListener('click', () => {
        if (userid.value == '') {
            console.log("1111");
            alert('아이디를 입력해주세요.');
            userid.setAttribute('style', 'background:#FFC8C8');
        } else if (pwd1.value.length < 6) {
            alert('비밀번호 6자리 이상을 입력해주세요.');
            pwd1.value = '';
            pwd1.setAttribute('style', 'background:#FFC8C8');
        } else if (pwd2.value.length < 6) {
            alert('비밀번호 6자리 이상을 입력해주세요.');
            pwd2.value = '';
            pwd2.setAttribute('style', 'background:#FFC8C8');
        } else if(user_gender[0].checked && user_gender[1].checked){
            alert('성별을 선택해주세요.');
        } else if (user_name.value == '') {
            alert('이름을 입력해주세요.');
            user_name.setAttribute('style', 'background:#FFC8C8');
        } else if (user_birth.value == '') {
            alert('생년월일을 입력해주세요.');
            user_birth.setAttribute('style', 'background:#FFC8C8'); 
        }else if (user_number.value == '') {
            alert('핸드폰번호를 입력해주세요.');
            user_number.setAttribute('style', 'background:#FFC8C8');
        } else if (user_number.value.length < 11) {
            alert('핸드폰번호 11자리를 입력해주세요.');
            user_number.setAttribute('style', 'background:#FFC8C8');
        } else if (user_email.value == '') {
            alert('이메일 주소를 입력해주세요.');
            user_email.setAttribute('style', 'background:#FFC8C8');
        } else if (pwd2.value != pwd1.value) {
            alert('비밀번호가 일치하지 않습니다.');
            pwd1.value = '';
            pwd2.value = '';
            pwd1.setAttribute('style', 'background:#FFC8C8');
            pwd2.setAttribute('style', 'background:#FFC8C8');
        } else {
            login_form.submit();
        }
    })
    //minlength 의 값 가져오는 법 ?? 
    pwd1.addEventListener('focusout', () => {
        if (pwd1.value.length >= 6) { pwd1.setAttribute('style', 'background:#D2F4FF;') }
    });
    pwd2.addEventListener('focusout', () => {
        if (pwd2.value.length >= 6) { pwd2.setAttribute('style', 'background:#D2F4FF;') }
    });
    user_name.addEventListener('focusout', () => {
        if (user_name.value != '') { user_name.setAttribute('style', 'background:#D2F4FF;') }
    });
    user_number.addEventListener('focusout', () => {
        if (user_number.value.length == 11) { user_number.setAttribute('style', 'background:#D2F4FF;') }
    });
    user_email.addEventListener('focusout', () => {
        if (user_email.value != '') { user_email.setAttribute('style', 'background:#D2F4FF;') }
    });

    //ID 중복 체크 //
    userid.addEventListener('focusout', userid_check);
    async function userid_check() {
        userid.setAttribute('style', 'background:#D2F4FF');
        let data = await axios.get(`http://localhost:3000/user/userid_check?userid=${userid.value}`);

        // console.log(data.data.login);
        //AJAX 가져옴, 중복:false 중복x: true
        login_flag = data.data.login;
        if (login_flag) {
            userid_msg.innerHTML = '올바른 아이디입니다.'
            userid_msg.style.color = 'green'
        } else {
            userid_msg.innerHTML = '중복된 아이디입니다.'
            userid_msg.style.color = 'red'
        }
    }
</script>

{% include "../layout/bottom.html" %}