<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/third/join.css">
    <link rel="stylesheet" href="/css/third/index.css">
</head>

<body bgcolor="#ededed">


    <div id="wrap">
        <div id="box">
            <div class="join_logo">
                <a href="/"><img src="/uploads/logo_sub.png"></a>
            </div>

            <form method="POST" action="/user/join_success" id="login_form" enctype="multipart/form-data">
                <ul>
                    <li style="display: none">번호</li>
                    <li><input type="text" name="id" class="" value="{{id}}" style="display:none"></li>


                    <li class="input_title">
                        <h3 class="join_title">아이디</h3>
                    </li>
                    <li>
                        <span class="ps_box">
                            <input type="text" id="userid" name="userid" class="input_box int" maxlength="20">
                            <!-- <span class="step_url">@naver.com</span> -->
                            <p id="userid_msg"></p>
                        </span>
                    </li>


                    <li class="input_title">
                        <h3 class="join_title">비밀번호</h3>
                    </li>
                    <li>
                        <span class="ps_box">
                            <input type="password" id="userpw" class="input_box int" name="userpw" mlength="6">
                        </span>
                    </li>
                    <li id="pwd1_msg"> </li>


                    <li class="input_title">
                        <h3 class="join_title">비밀번호 확인</h3>
                    </li>
                    <li>
                        <span class="ps_box">
                            <input type="password" id="userpw_check" class="input_box int" name="userpw_check"
                                minlength="6">
                        </span>
                    </li>
                    <li id="pwd2_msg"> </li>


                    <li class="input_title">
                        <h3 class="join_title">성별</h3>
                    </li>
                    <!-- <li class="join_align join_font"> 남자<input type="radio" name="gender" id="usergender_M" class="user_gender" value="1" required>
                        여자<input type="radio" id="usergender_F" name="gender" class="user_gender" value="0"> -->
                    <li>
                        <span class="ps_box country_code">
                            <select id="gender" name="gender" class="sel" aria-label="성별">
                                <option value selected>성별</option>
                                <option value="0" select>남자</option>
                                <option value="1" select>여자</option>
                            </select>
                        </span>
                    </li>
                    <li class="input_title">
                        <h3 class="join_title">이름</h3>
                    </li>
                    <li>
                        <span class="ps_box country_code">
                            <input type="text" id="user_name" name="user_name" class="input_box int" maxlength="5"
                                required>
                        </span>
                    </li>


                    <li class="input_title">
                        <h3 class="join_title">생년월일</h3>
                    </li>
                    <li class="join_align">
                        <span class="ps_box">
                            <input type="date" id="user_birth" name="user_birth" class="int" required>
                        </span>
                    </li>
                    <li class="input_title">
                        <h3 class="join_title">주소</h3>
                    </li>
                    <div class="join_align">
                        <li>
                            <span class="ps2_box">
                            <input type="text" id="addressInput" class="int_address2" name="addressInput"
                                placeholder="주소를 입력해주세요." required>
                            </span>


                                <button class="btn addressBtn" id="addressSearch">주소검색하기</button>

                        </li>


                        <li>
                            <ul id="addressList"></ul>
                        </li>


                        <li>
                            <span class="ps_box">
                                <input type="text" name="user_address1" class="int_address" id="addressNumber" size="10"
                                    placeholder="우편번호">
                            </span>
                            <span class="ps_box">
                                <input type="text" name="user_address2" class="int_address" id="address1" size="40"
                                    placeholder="주소">
                            </span>
                            <span class="ps_box">
                                <input type="text" name="user_address3" class="int_address" id="address2"
                                    placeholder="상세주소">
                            </span>
                        </li>
                    </div>


                    <li class="input_title">
                        <h3 class="join_title">이메일</h3>
                    </li>
                    <li>
                        <span class="ps_box">
                            <input type="text" id="user_email" name="user_email" class="input_box int" minlength="6"
                                required>
                        </span>
                    </li>


                    <li class="input_title">
                        <h3 class="join_title">프로필 이미지</h3>
                    </li>
                    <li class="join_align">
                        
                            <input type="file" id="userimage" class="" name="userimage">
                    </li>

                    <li class="input_title">
                        <h3 class="join_title">전화번호</h3>
                    </li>
                    <li>
                        <span class="ps_box">
                            <input type="text" id="user_number" class="input_box int" name="user_number" minlength="11"
                                required>
                        </span>
                    </li>
                    <li id="user_number_msg"></li>

                </ul>
                <div>
                    <input type="submit" class="btn_type btn_primary mt15" id="login_submit" value="가입하기">
                    <button class="btn_type btn_defulat mt15"><a href="/user/login">취소</a></button>
                </div>
            </form>

        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script type="text/javascript">
        let user_name = document.querySelector('#user_name');
        let userimage = document.querySelector('#userimage');
        let user_number = document.querySelector('#user_number');
        let user_email = document.querySelector('#user_email');
        let user_birth = document.querySelector('#user_birth');
        let user_gender = document.querySelectorAll('.user_gender');
        // P A S S W O R D     C H E C K //
        let pwd1 = document.querySelector('#userpw');
        let pwd2 = document.querySelector('#userpw_check');
        const btn = document.querySelector('#login_submit');
        const login_form = document.querySelector('#login_form');
        const userid_msg = document.querySelector('#userid_msg');
        const userid = document.querySelector('#userid');
        const common = document.querySelectorAll('.common');
        //  B L O C K I N G      N U L L + P A S S W O R D     C H E C K //    
        btn.addEventListener('click', () => {
            if (userid.value == '') {
                console.log("1111");
                alert('아이디를 입력해주세요.');
                userid.setAttribute('style', 'background:#FFC8C8');
            } else if (pwd1.value.length < 6) {
                alert('비밀번호 6자리 이상을 입력해주세요.');
                pwd1.value = '';
                pwd1.setAttribute('style', 'background:#FFC8C8');
            } else if (pwd2.value.length < 6) {
                alert('비밀번호 6자리 이상을 입력해주세요.');
                pwd2.value = '';
                pwd2.setAttribute('style', 'background:#FFC8C8');
            } else if (user_gender[0].checked && user_gender[1].checked) {
                alert('성별을 선택해주세요.');
            } else if (user_name.value == '') {
                alert('이름을 입력해주세요.');
                user_name.setAttribute('style', 'background:#FFC8C8');
            } else if (user_birth.value == '') {
                alert('생년월일을 입력해주세요.');
                user_birth.setAttribute('style', 'background:#FFC8C8');
            } else if (user_number.value == '') {
                alert('핸드폰번호를 입력해주세요.');
                user_number.setAttribute('style', 'background:#FFC8C8');
            } else if (user_number.value.length < 11) {
                alert('핸드폰번호 11자리를 입력해주세요.');
                user_number.setAttribute('style', 'background:#FFC8C8');
            } else if (user_email.value == '') {
                alert('이메일 주소를 입력해주세요.');
                user_email.setAttribute('style', 'background:#FFC8C8');
            } else if (pwd2.value != pwd1.value) {
                alert('비밀번호가 일치하지 않습니다.');
                pwd1.value = '';
                pwd2.value = '';
                pwd1.setAttribute('style', 'background:#FFC8C8');
                pwd2.setAttribute('style', 'background:#FFC8C8');
            } else {
                login_form.submit();
            }
        })
        //minlength 의 값 가져오는 법 ?? 
        pwd1.addEventListener('focusout', () => {
            if (pwd1.value.length >= 6) { pwd1.setAttribute('style', 'background:#D2F4FF;') }
        });
        pwd2.addEventListener('focusout', () => {
            if (pwd2.value.length >= 6) { pwd2.setAttribute('style', 'background:#D2F4FF;') }
        });
        user_name.addEventListener('focusout', () => {
            if (user_name.value != '') { user_name.setAttribute('style', 'background:#D2F4FF;') }
        });
        user_number.addEventListener('focusout', () => {
            if (user_number.value.length == 11) { user_number.setAttribute('style', 'background:#D2F4FF;') }
        });
        user_email.addEventListener('focusout', () => {
            if (user_email.value != '') { user_email.setAttribute('style', 'background:#D2F4FF;') }
        });

        //ID 중복 체크 //
        userid.addEventListener('focusout', userid_check);
        async function userid_check() {
            userid.setAttribute('style', 'background:#D2F4FF');
            let data = await axios.get(`http://localhost:3000/user/userid_check?userid=${userid.value}`);

            // console.log(data.data.login);
            //AJAX 가져옴, 중복:false 중복x: true
            login_flag = data.data.login;
            if (login_flag) {
                userid_msg.innerHTML = '올바른 아이디입니다.'
                userid_msg.style.color = 'green'
            } else {
                userid_msg.innerHTML = '중복된 아이디입니다.'
                userid_msg.style.color = 'red'
            }
        }

        // A D D R E S S _ A P I
        /*
              https://dapi.kakao.com/v2/local/search/address.json?analyze_type=similar&page=1&size=10&query=
              headers ->  Authorization: KakaoAK {REST_API_KEY}
              REST_API_KET : 82ff941469e77067f4ed407f2d33553d
         
          */
        document.addEventListener('DOMContentLoaded', init);
        function init() {
            const searchBtn = document.querySelector('#addressSearch');
            searchBtn.addEventListener('click', getAddress);
        }

        async function getAddress() {

            const addressInput = document.querySelector('#addressInput');
            const addressList = document.querySelector('#addressList');
            console.log(addressInput.value);
            if (addressInput.value.length == 0) {
                alert('주소를 입력해주세요.');
                addressInput.focus();
                return false;
            } //주소창 결과값이 아무것도 입력되지 않았을때 얼럴트창이뜨고 커서가 주소창으로 옴겨짐.

            let options = {
                method: 'GET',
                headers: {
                    "Authorization": "KakaoAK 82ff941469e77067f4ed407f2d33553d"
                }
            }
            let result = await fetch('https://dapi.kakao.com/v2/local/search/address.json?analyze_type=similar&page=1&size=10&query=' + addressInput.value, options)
            let json = await result.json();

            addressList.innerHTML = '';
            if (json.documents.length == 0) {
                addressList.innerHTML = '<li>결과값이 존재하지 않습니다.</li>';
                return false;
            }

            json.documents.forEach(v => {
                console.log(v.address_name);
                const li = document.createElement('li')
                li.innerHTML = v.address_name;
                li.dataset.x = v.x;
                li.dataset.y = v.y; //첫번째 인자값의 요소에 있는 y를 dataset y 값에 넣겟다.
                li.addEventListener('click', getAddressDetail);
                addressList.appendChild(li);
                console.log(li.dataset.x);
                console.log(li.dataset.y);
            })
        }

        async function getAddressDetail() {
            let x = this.dataset.x;
            let y = this.dataset.y;

            let options = {
                method: 'GET',
                headers: {
                    "Authorization": "KakaoAK 82ff941469e77067f4ed407f2d33553d"
                }
            }

            //https://dapi.kakao.com/v2/local/geo/coord2address.json?input_coord=WGS84&y=37.5397559555383&x=127.123313958545
            let url = `https://dapi.kakao.com/v2/local/geo/coord2address.json?input_coord=WGS84&x=${x}&y=${y}`
            let result = await fetch(url, options) // 요청의 결과값만 반환해줌
            let json = await result.json();     // 응답의 body영역을 읽기위해 body영역의 타입이 application/json 타입으로 오기떄문

            console.log(json);

            if (json.documents[0].road_address == null) {
                let address_name = json.documents[0].address.address_name;
                document.querySelector('#address1').value = `${address_name} `;


            } else {
                let address_name = json.documents[0].road_address.address_name;
                let buliding_name = json.documents[0].road_address.building_name;
                let zone_no = json.documents[0].road_address.zone_no;

                document.querySelector('#addressNumber').value = zone_no;
                document.querySelector('#address1').value = `${address_name} ${buliding_name}`;


            }
        }
    </script>


    {% include "../layout/bottom.html" %}