<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <meta name="google-signin-client_id"
        content="271562730452-rufsjg41rp8hhbno7686je73714i5dpu.apps.googleusercontent.com">
    <link rel="stylesheet" href="/css/third/login.css">
    <link rel="stylesheet" href="/css/third/index.css">
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v10.0&appId=4064419383640755"
        nonce="SiOBIhLG"></script>
    <!-- <script type="text/javascript">


        async function  onSignIn(googleUser) {
            let profile = googleUser.getBasicProfile();
            console.log(profile);
            let userid = await profile.getId()
            let username = profile.getName()
            console.log('image url:' + profile.getImageUrl());
            console.log('email:' + profile.getEmail());
        
            google22(userid,username)  
    
          
        }
        
        function signOut() {
            let auth2 = gapi.auth2.getAuthInstance();
            console.log(auth2);
            auth2.signOut().then(function () {
                console.log('User signed out');
            })
            auth2.disconnect();
            google_out()
        }
        
        async function google22(id,name){
            let options = {method: "get"}
            let url =`google?userid=${id}&username=${name}`
     let result = await fetch(url, options);
        }
        async function google_out(){
            let options = {method: "get"}
            let url =`google_out`
     let result = await fetch(url, options);
        }
    </script> -->
</head>
<div id="wrap">

    <div id="box">
        {% if session == undefined %}
        <div class="login_logo">
            <a href="/"><img src="/uploads/logo_bottom_2018.png"></a>
        </div>

        <form action="/user/login_check" method="post">
            <table id="login_table">
                <tr class="input_box">
                    <td>
                        <input type="text" id="userid" class="" name="userid" placeholder="아이디" required>
                    </td>
                </tr>
                <tr class="input_box">
                    <td>
                        <input type="password" id="userpw" class="" name="userpw" placeholder="비밀번호" required>
                    </td>
                </tr>
            </table>

            <input id="local_in" type="submit" class="join_button" value="로그인">

            <a id="join_in" class="login_text" href="/user/join">회원가입</a>
            <a class="login_text" href="/user/find_info?flag=0">아이디 찾기</a>
            <a class="login_text" href="/user/find_info?flag=1">비밀번호 찾기</a>


            <h5 class="partition"><div class ="line">d</div> 또는 <div class="line">f</div> </h5>
            <div class="gooka_login">
                <div class ="kakao_login">
                    <div class = "kakao_image">
                        <img src="/uploads/kakao.png">
                    </div>
                    <div>
                        <a id="kakao_in" class="kakao" href="/auth/kakao">로그인</a>
                    </div>
                </div>
                <div id="google_in">
                    <div class="g-signin2" data-onsuccess="onSignIn"></div>
                </div>
            </div>
        </form>
        <!-- google key : AIzaSyDQSByPF9_abC9Gb5PLJK93mNelv-XZzic
client id : 271562730452-rufsjg41rp8hhbno7686je73714i5dpu.apps.googleusercontent.com
client password : wMc8se_eBobJrH2EN-r3JF6z -->

        <!-------- 지도---- -->
        {% include "./map.html" %}
        <!-------- 지도---- -->

        {% endif %}
        {% if session != undefined %}
        {% if session.kakao %}
        <a id="kakao out" class="kakao" href="/auth/kakao/unlink">카카오 로그아웃</a>
        {% endif %}

        {% if session.google %}

        <input type="hidden" class="g-signin2" gapi.auth2.getauthinstance()="onSignIn">
        <button id="google_out" onclick="signOut()">google out</button>
        {% endif %}

        {% if session.local %}
        {{userid}}님 환영합니다.
        <a href="/">메인페이지</a>

        <a href="/user/info?checked=0">내 정보확인하기</a>
        <a href="/user/logout">로그아웃</a>

        {% endif %}
        {% endif %}
    </div>


    <!--
        페이스북 로그인 버전 2
        <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v11.0&appId=4064419383640755&autoLogAppEvents=1" nonce="TErsmy36"></script> -->

    <div>
        {{msg}}
    </div>

</div>

{% if flag == '0' %}
<script type="text/javascript">
    alert('아이디와 패스워드를 확인해주세요.')
    const id = document.querySelector('#userid');
    id.focus();
</script>
{% endif %}
<script type="text/javascript">

    async function onSignIn(googleUser) {
        let profile = googleUser.getBasicProfile();
        let userid = await profile.getId()
        let username = profile.getName()
        console.log('image url:' + profile.getImageUrl());
        console.log('email:' + profile.getEmail());
        google22(userid, username)
    }
    function signOut() {
        let auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out');
        })
        auth2.disconnect();
        google_out()
    }

    async function google22(id, name) {
        let options = { method: "get" }
        let url = `google?userid=${id}&username=${name}`
        let result = await fetch(url, options);
        location.href = 'http://localhost:3000/user/login';
    }
    async function google_out() {
        let options = { method: "get" }
        let url = `google_out`
        let result = await fetch(url, options);
        location.href = 'http://localhost:3000/user/login';
    }
</script>



{% include "../layout/bottom.html" %}



<!-- 페이스북 로그인 버전 1  
    <ul id="face_in">
    <li onclick="fnFbCustomLogin()">
        <a href="javascript:void(0)">
            <span id="face">페이스북 로그인</span>
        </a>
    </li>
</ul>

<a href="/kakao/info">내정보 보기</a>
<a href="/test">메인으로</a>

<script>
    function statusChangeCallback(res) {
        statusChangeCallback(response);
    }

    function fnFbCustomLogin() {
        FB.login(function (response) {
            if (response.status === 'connected') {
                FB.api('/me', 'get', { fields: 'name,email' }, function (r) {
                    console.log(r);
                })
            } else if (response.status === 'not_authorized') {
                // 사람은 Facebook에 로그인했지만 앱에는 로그인하지 않았습니다.
                alert('앱에 로그인해야 이용가능한 기능입니다.');
            } else {
                // 그 사람은 Facebook에 로그인하지 않았으므로이 앱에 로그인했는지 여부는 확실하지 않습니다.
                alert('페이스북에 로그인해야 이용가능한 기능입니다.');
            }
        }, { scope: 'public_profile,email' });
    }

    window.fbAsyncInit = function () {
        FB.init({
            appId: '4064419383640755', // 내 앱 ID를 입력한다.
            cookie: true,
            xfbml: true,
            version: 'v10.0'
        });
        FB.AppEvents.logPageView();
    };
/*
                        instagram id: 480919806523168
                        secret code : 06c4ae9c966ae9c13159d6fa35c3fbe1
                        인증코드 :https://localhost:3000/?code=AQDyUG6hwsEOdJpy9iPfeEmFWJXXlzi_2KvkvWjW2UeKuBOmYd2R8f-eSxdZjT1hfzolXZKABtbtwELoinlFH8asI79OINoSMgxOdJ6tMo3gEJlduwybiaiQEqN8XqfZDNxMPcJKbdWRV59a48Eblmha94xbRxuo_FOzB02e_m5wuCGPxCusEHGSpYCdU6X4V5tAeHwD7R6Eu_B2z7HkuX8I0F7LFaTNl6aAo9KTqyngww#_
                        토큰 : IGQVJVel91cjlnczFONEhFSlNZAUUd6cjNJZAUM3SndUbUNBSXEyWGF3UVczZAzlUMExHQmZASQlFpajVudjJWbG41dzRpY1dIbUZAXLS1qWE5yYmRMUUNDSy0xMUUtUWktUWE4WnBhR2RvUXEycmJFQ2FOWQZDZD
                        */
</script> -->