<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
 수정하는곳
<body>
    <form action="/qanda/modify" method="POST">
        <span>신청자:</span><input type="text" name="write_name" value="{{modify.write_name}}"> </br>
        <span>나이:</span><input type="text" name="age" value="{{modify.age}}"> </br>
        <span>이메일</span><input type="text" name="email" value="{{modify.email}}"> </br>
        <span>폰번호</span><input type="text" name="pone_number" value="{{modify.pone_number}}"> </br>
        <span>내용</span><input type="text" name="content"value="{{modify.content}}" ></br>
        <span>여자</span><input type="radio" name="gender" value="0"><span>남자</span><input type="radio" name="gender" value="1"> </br>
        <input type="hidden" name="id" value="{{id}}">
        <input type="submit" value="수정하기">
    </form>
</body>

</html>