<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   작성자 : {{view.write_name}} </br>
    성별 : {{view.gender}}</br>
나이 : {{view.age}}</br>
이메일 : {{view.email}}</br>
번호 : {{view.pone_number}}</br>
내용 : {{view.content}}</br>

<a href="/qanda/modify?id={{id}}">수정하기</a>
<a href="/qanda/list">목록으로 가기</a>
<a href="/qanda/delete?id={{id}}">삭제하기</a>
</body>
</html>