<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INFORMATION</title>
    <link rel="stylesheet" href="/css/main/sub_page.css">
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let idArr = document.querySelector('#idArr').value;
            idArr = idArr.split(',');
            idArr.splice(idArr.length - 1, 1);
            idArr.forEach(v => {
                let content = document.querySelector('#content' + v);
                let pre = document.querySelector('#pre' + v);
                pre.innerHTML = `${content.value}`
            })
        });

    </script>
    <style>
    </style>
</head>

<body>

    <div id="wrap">
        <div id="header">
            <ul>
                <li>
                    <a href="/">
                        <img id="headerImg" src="/uploads/logo_bottom_2018.png"></a>
                </li>
                <li>
                    <a href="/information">학원소개
                        <div class="line"></div>
                    </a>
                </li>
                <li>
                    <a href="/education">교육과정
                        <div class="line"></div>
                    </a>
                </li>
                <li>
                    <a href="/hired">취업정보
                        <div class="line"></div>
                    </a>
                </li>
                <li>
                    <a href="/community">커뮤니티
                        <div class="line"></div>
                    </a>
                </li>
            </ul>
        </div>
        <div id="sub_header">
            <ul>
                <li>
                    <a href="/information/intro">인사말</a>
                </li>
                <li>
                    <a href="/information/history">연혁</a>
                </li>
                <li>
                    <a href="/information/popup">교직원소개</a>
                </li>
                <li>
                    <a href="/information/facility">시설소개</a>
                </li>
                <li>
                    <a href="/information/location">오시는 길</a>
                </li>
            </ul>
            <ul>
                {% for item in edList %}
                <li>
                    <a href="/information/education/{{item.title}}">{{item.title}}</a>
                </li>
                {% endfor %}
            </ul>
            <ul>
                <li>
                    <a href="/hired/interview">취업자 인터뷰</a>
                </li>
                <li>
                    <a href="/hired/portfolio">포트폴리오</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/community/notice">공지사항</a>
                </li>
                <li>
                    <a href="/community/qanda">Q & A</a>
                </li>
                <li>
                    <a href="/community/board">수강후기</a>
                    </li>
            </ul>
        </div>