*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}

#wrap{
    width: 100%;
    height:100%;
    text-align: center;
}

.btn{
    width:120px;
    height:40px;
    background:rgba(102,186,255);
    /* border-radius: 5px; */
    color:white;
    font-size:15px;
    font-weight:bold;
    border: solid 1px rgba(0,0,0,.08);
}

.join_align{
    text-align: left;
}
