*{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}

#wrap{
    width: 100%;
    height:100%;
    text-align: center;
    margin: 0 auto;
}

.address2{
    margin-bottom:15px;
}

h4{text-align: left;
    margin-bottom: 20px;
    font-size:20px;
    color:#666;
}
.box{
    margin-top:40px;
    width: 900px;
    height: 2000px;
    margin: 0 auto;
    padding:50px 100px;
    box-sizing: border-box;
    text-align: center;
    /* border: 1px solid #000000; */
}

.info_image{
    margin-bottom: 80px;
}

.info_title{
    width:550px;
    font-weight: bold;
    /* text-align:left; */
}

td{
    width: 900px;
    text-align: left;
    text-indent: 20px;
    line-height: 70px;
    font-size: 17px;
    border: 1px solid #dadada;
    background: white;
}

td>input{
    text-indent:20px;
}

tr>td>img{
    margin-top:30px;
    width: 200px;
    height: 200px;
}
.btn{
    margin-top: 15px;
    float:right;
    width:120px;
    height:40px;
    padding-right:6.5px;
    margin-right:86px;
    background:rgba(102,186,255);
    /* border-radius: 5px; */
    color:white;
    font-size:15px;
    line-height:40px;
    font-weight:bold;
    text-align:left;
    border: solid 1px rgba(0,0,0,.08);
}

.btn2{
    margin-top: 15px;
    float:right;
    width:102px;
    height:42px;
    margin-left:5px;
    background:white;
    /* border-radius: 5px; */
    color:#000;
    font-size:15px;
    line-height:40px;
    font-weight:bold;
    border: solid 1px #000;
    box-sizing: border-box;
}

.btn2:hover{
    background:rgba(102,186,255);
    color:white;
    border:1px solid rgba(0,0,0,.08);
}

.btn> .aa{
    display:inline-block;
    width:100px;
    height:40px;
    background:white;
    color:black;
    font-size:13px;
    font-weight:bold;
    border: 1px solid #000;
    line-height: 40px;
    
}

.btn>a:hover{
    background:#000;
    color:white;
}


/* /////비밀번호쳌//// */

.pwcheck>li{
    line-height: 50px;
}

.pwcheck>li>span{
    display: inline-block;
    text-indent: 100px;
}

.ps_box{
    display:block;
    position:relative;
    /* margin: 0 auto; */
    width:500px;
    height:51px;
    border: 1px solid #dadada;
    padding:10px 110px 10px 14px;
    box-sizing: border-box;
    background:#fff;
    text-indent: 100px;
}

.int{
    display:block;
    position:relative;
    width:100%;
    height:29px;
    padding-right:25px;
    line-height:29px;
    border:none;
    font-size:15px;
    z-index:10;
}

.change_address{
    line-height:70px;
}

.ps_box{
    display:block;
    position:relative;
    /* margin: 0 auto; */
    margin-left: 20px;
    width:450px;
    height:51px;
    border: 1px solid #dadada;
    padding:10px 110px 10px 14px;
    box-sizing: border-box;
    background:#fff;
}

.ps2_box{
    display:inline-block;
    position:relative;
    width:200px;
    height:51px;
    border: 1px solid #dadada;
    padding:10px 40px 10px 14px;
    box-sizing: border-box;
    background:#fff;
}

.int{
    display:block;
    position:relative;
    width:100%;
    height:29px;
    padding-right:25px;
    line-height:29px;
    border:none;
    font-size:15px;
    z-index:10;
}

