{% include "../template/top.html" %}

<div id="content_wrap">
    <div id="content" class="center">
        <div id="logo"><img src="/uploads/info_image/1623383319105.jpg"></div>
        <h1>EDUCATION</h1>
        <div id="atags">
            <a class="tags" href="/education/intro">블록체인</a>
            <a class="tags" href="/education/history">연혁</a>
            <a class="tags" href="/education/popup">교직원소개</a>
            <a class="tags" href="/education/facility">시설소개</a>
            <a class="tags" href="/education/location">오시는 길</a>
        </div>
        <div id="sub_content">

            {% for item in edList %}

            <td><a href="/admin/view?id={{item.id}}&table=education">{{item.title}}</a>
            </td>
            <td>writer</td>
            <td>{{item.date}}</td>

            {% endfor %}
        </div>
    </div>
</div>
<div id="footer">
    <a class="main_btn btn" href="/">MAIN</a>
</div>

{% include "../template/bottom.html" %}