{% include "../template/top.html" %}

<div id="content_wrap">
    <div id="content">
        <h1>EDUCATION</h1>
        <div id="menu_border">
            <div id="side_menu">
                <a id="main_tag" href="/education">교육과정</a>
                {% for item in edMenu %}
                <a class="tags" href="/education/{{item.edName}}">{{item.edName}}</a>
                {% endfor %}
            </div>
            <div id="sub_content">
                <div id="list_subject">
                    <h1>교육과정</h1>
                    <div id="list_subject_law"></div>
                </div>

                {% for item in edList %}
                <div id="education_box">
                    <div>
                        <div id="edu_one"></div>
                        <div id="edu_two">
                            <h2>{{item.edName}}</h2>
                            <span>교육기간 {{item.ed_start_period}} ~ {{item.ed_end_period}}</span>
                            <span>교육시간 {{item.time}}</span>
                            <span>수당  {{item.fee}}</span>
                            <p>hashtag {{item.hashtag}}</p>
                            <a class="edu_b" href="/education/{{item.id}}"> 과정 자세히 보기</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% include "../template/fixed.html" %}
    </div>
    <div id="real_footer">
        <div id="real_footer_con">
            <img src="http://www.kiweb.or.kr/images/main_new/logo_bottom_2018.png">
            <div id="foot_ment">
                <span>서울특별시 강동구 천호대로 995 금복빌딩 3,4층 경일게임아카데미(지하철 5,8호선 1번출구 10m이내) </span>
                <p>TEL : 02-479-4050 FAX : 02-479-4056 대표자 : 박병준 개인정보관리책임자 : 서혁준 </p>
                <p>사업자번호 : 212-81-89247</p>
                <p>Copyright © 2016. Kyungil Technical College. All rights reserved. </p>

            </div>
        </div>
    </div>
    <script type="text/javascript">
        const tags = document.querySelectorAll('.tags');
        const localUrl = document.querySelector('#localUrl').innerHTML;

        tags.forEach(v => {
            let tagName = v.href.replace('http://localhost:3000/hired/', '');
            if (tagName == localUrl) {
                v.setAttribute('style', 'background-color:#ededed');
            }
        })
    </script>
    <script type="text/javascript">
        const tags = document.querySelectorAll('.tags');
        tags.forEach(v => {
            if (v.innerHTML == "{{localUrl}}") {
                v.setAttribute('style', 'boder-bottom: 1px solid black');
                v.setAttribute('class', 'menu_ani')
            }
        })
    </script>
    {% include "../template/bottom.html" %}