{% include "../template/top.html" %}

        <div id="content_wrap">
            <div id="content" class="center">
                <div id="logo"><img src="/uploads/info_image/1623383319105.jpg"></div>
                <h1>HIRED</h1>
                <div id="atags">
                    <a class="tags" href="/hired">전체</a>
                    <a class="tags" href="/hired/interview">인터뷰</a>
                    <a class="tags" href="/hired/portfolio">포트폴리오</a>
                </div>
                <div id="sub_content">
                    <div id="board">
                        <table id="list">
                            <tr>
                                <td>No.</td>
                                <td>Title</td>
                                {% if localUrl == undefined %}
                                <td>Category</td>
                                {% endif %}
                                <td>Writer</td>
                                <td>Date</td>
                            </tr>
                            {% for item in hireList %}
                            <tr>
                                <td>{{item.num}}</td>
                                <td><a href="/view?id={{item.id}}&table=hired&localUrl={{localUrl}}">{{item.title}}</a></td>
                                {% if localUrl == undefined %}
                                <td><a href="/{{item.type}}">{{item.type}}</a></td>
                                {% endif %}
                                <td>writer</td>
                                <td>{{item.date}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <textarea id="localUrl" style="display: none;">{{localUrl}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div id="pagenation">
                {% for item in pagin %}
                <a style="border: none;" href="/hired/{{localUrl}}/?id={{item}}">{{item}}</a>
                {% endfor %}
            </div>
            <a class="main_btn btn" href="/">MAIN</a>
        </div>

        <script type="text/javascript">
            const tags = document.querySelectorAll('.tags');
            const localUrl = document.querySelector('#localUrl').innerHTML;

            tags.forEach(v=>{
                let tagName = v.href.replace('http://localhost:3000/hired/','');
                if(tagName == localUrl){
                    v.setAttribute('style','background-color:#ededed');
                }
            })
        </script>

{% include "../template/bottom.html" %}