{% include "../template/top.html" %}

        <div id="content_wrap">
            <div id="content" class="center">
                <div id="logo"><img src="/uploads/info_image/1623383319105.jpg"></div>
                <h1>INFORMATION</h1>
                <div id="atags">
                    <a class="tags" href="/information/intro">인사말</a>
                    <a class="tags" href="/information/history">연혁</a>
                    <a class="tags" href="/information/staff">교직원소개</a>
                    <a class="tags" href="/information/facility">시설소개</a>
                    <a class="tags" href="/information/location">오시는 길</a>
                </div>
                <div id="sub_content">
                    <input type="hidden" value="{{idArr}}" id="idArr">
                    {% for item in infoList %}
                    <h2>{{item.title}}</h2>
                    <pre id="pre{{item.id}}"></pre>
                    <textarea id="content{{item.id}}" style="display: none;">{{item.content}}</textarea>
                    {% endfor %}
                    <textarea id="localUrl" style="display: none;">{{localUrl}}</textarea>
                </div>
            </div>
        </div>
        <div id="footer">
            <a class="main_btn btn" href="/">MAIN</a>
        </div>
        <script type="text/javascript">
            const tags = document.querySelectorAll('.tags');
            const localUrl = document.querySelector('#localUrl').innerHTML;

            tags.forEach(v=>{
                let tagName = v.href.replace('http://localhost:3000/information/','');
                if(tagName == localUrl){
                    v.setAttribute('style','background-color:#ededed');
                }
            })
        </script>

{% include "../template/bottom.html" %}