<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW</title>
    <link rel="stylesheet" href="/css/info/index.css">
    <link rel="stylesheet" href="/css/info/view.css">
    <link rel="stylesheet" href="/css/main/sub_page.css">
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let content = document.querySelector('#content');
            let pre = document.querySelector('#pre');
            pre.innerHTML = `${content.value}`
        });

    </script>
</head>

<body>
    <div id="wrap" class="w100">
        <div id="header">
            <ul>
                <li><a href="/information">학원소개</a></li>
                <li><a href="/education">교육과정</a></li>
                <li><a href="/hired">취업정보</a></li>
                <li><a href="/community">커뮤니티</a></li>
            </ul>
        </div>
        <div id="sub_header">
            <ul>
                <li><a href="/information/intro">인사말</a></li>
                <li><a href="/information/history">연혁</a></li>
                <li><a href="/information/popup">교직원소개</a></li>
                <li><a href="/information/facility">시설소개</a></li>
                <li><a href="/information/location">오시는 길</a></li>
            </ul>
            <ul>
                <li><a href="/information/intro">인사말</a></li>
                <li><a href="/information/history">연혁</a></li>
                <li><a href="/information/popup">교직원소개</a></li>
            </ul>
            <ul>
                <li><a href="/hired/interview">취업자 인터뷰</a></li>
                <li><a href="/hired/portfolio">포트폴리오</a></li>
            </ul>
            <ul>
                <li><a href="/community/notice">공지사항</a></li>
                <li><a href="/community/qanda">Q & A</a></li>
                <li><a href="/community/board">수강후기</a></li>
            </ul>
        </div>

        <div id="info_header" class="center">
            <div id="logo"><img src="/uploads/info_image/1623383319105.jpg"></div>
            <h1>{{infoList.title}}</h1>
        </div>
        <div id="content_header" class="center">
            <ul>
                <li>{{infoList.writer}}</li>
                <li>{{infodate}}</li>
            </ul>
        </div>
        <div id="content_wrap" class="center">
            <pre id="pre"></pre>
        </div>
        <textarea style="display: none;" id="content">{{infoList.content}}</textarea>

        <div id="footer" class="center">
            <a href="/admin/education">MENU</a>
            <a href="/admin/delete?id={{infoList.id}}&table={{table}}&localUrl={{localUrl}}">DELETE</a>
            <a href="/admin/modify?id={{infoList.id}}&table={{table}}&localUrl={{localUrl}}">MODIFY</a>
        </div>
    </div>

    {% include "../template/bottom.html" %}