<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW</title>
    <link rel="stylesheet" href="/css/info/index.css">
    <link rel="stylesheet" href="/css/info/view.css">
    <link rel="stylesheet" href="/css/main/sub_page.css">
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let content = document.querySelector('#content');
            let pre = document.querySelector('#pre');
            pre.innerHTML = `${content.value}`
        });

    </script>
</head>

<body> -->
{% include "../template/top.html" %}

<div id="view_box">
    <p class="w800">제목 : <span>{{infoList.title}}</span></p>
    <p class="w800">작성자 : {{infoList.writer}}</p>
    <p class="w800">작성일 : {{infodate}}</p>
    <p class="con">내용 : {{infoList.content}}</p>
    <div id="footer" class="center">
        <a href="/community">MENU</a>
        <a href="/community/delete?id={{infoList.id}}&table={{table}}&localUrl={{localUrl}}">DELETE</a>
        <a href="/community/modify?id={{infoList.id}}&table={{table}}&localUrl={{localUrl}}">MODIFY</a>
        <table id="comment">
            <tr>
                <td>이름</td>
                <td>내용</td>
            </tr>
            {% for item in see %}
            <tr>
                <td>{{item.userid}}</td>
                <td>{{item.content}}</td>
            </tr>
            
          
{% endfor %}
             답글 </table>
    </div>

</div>

{% include "../template/bottom.html" %}