<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main/apple.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Viaoda+Libre&display=swap"
        rel="stylesheet">
    {% if popup != "" %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let idArr = document.querySelector('#idArr').value;
            idArr = idArr.split(',');
            idArr.splice(idArr.length - 1, 1);
            idArr.forEach(v => {
                let type = document.querySelector('#type' + v);
                let hyperlink = document.querySelector('#hyperlink' + v);
                let title = document.querySelector('#title' + v);
                let content = document.querySelector('#content' + v);
                let setting2 = document.querySelector('#setting2' + v);
                
                if (type.value == 1) {
                    function normalpopup() {
                        let url = hyperlink.value;
                        let name = title.value;
                        let option = setting2.value;
                        window.open(url, name, option);
                    }
                    normalpopup();
                }
                else if (type.value == 0) {
                    let pre = document.querySelector('#pre' + v);
                    let setting = document.querySelector('#setting' + v);
                    let popupContent = document.querySelector('#popup_content' + v);
                    popupContent.style.cssText = `${setting.value};border:1px solid #000;`;
                    pre.innerHTML = `${content.value}`;

                    let checkCookie = getCookie('popupCookie');
                    // console.log(checkCookie)
                    if (checkCookie == 'popupEnd') {
                        popupContent.setAttribute('style', 'display:none')
                    }
                }

                console.log(getCookie('popupCookie'))
                function getCookie(name) {
                    let cookie = document.cookie;
                    if (document.cookie != "") {
                        let cookie_array = cookie.split("; ");
                        console.log(cookie_array)
                        for (let index in cookie_array) {
                            let cookie_name = cookie_array[index].split("=");
                            if (cookie_name[0] == "popupCookie") {
                                return cookie_name[1];
                            }
                        }
                    }
                    return;
                }
            });
        });

    </script>

    {% endif %}
</head>

<body>
    <div id="wrap">
        <div id="loding_mode">
            <div class="loading-container">
                <div class="loading"></div>
                <div id="loading-text">loading</div>
            </div>
        </div>
        <!-- <div style="background: black; height: 80px; position:absolute; top:-300px; "></div> -->
        <div id="menu">
            <ul>
                <img id="logo" src="/uploads/logo_new_2018.png">
                <li> <a href="/information">INFORMATION</a> </li>
                <li> <a href="/education">EDUCATION</a> </li>
                <li> <a href="/hired">HIRED</a> </li>
                <li> <a href="/community">COMMUNITY</a> </li>
                <div id="menu_box">
                    {% if session == undefiend %}
                    <div> <a id="login" href="/user/login">login</a> </div>
                    <div> <a id="join" href="/user/join">join</a> </div>
                    {% endif %}

                    {% if session != undefiend %}
                    {% if session.kakao %}
                    <div> <a id="kakao out" class="kakao" href="/auth/kakao/unlink">카카오 로그아웃</a> </div>
                    {% endif %}
                    {% if session.google %}
                    <input type="hidden" class="g-signin2" gapi.auth2.getauthinstance()="onSignIn">
                    <div><a id="google_out" onclick="signOut()">google out</a></div>
                    {% endif %}
                    {% if session.local %}
                    <div> <a href="/user/logout">logout</a> </div>
                    <div> <a href="user/info?checked=1">mypage</a> </div>
                    {% endif %}
                    {% endif %}
                    <div> <a id="cha_btn" data-value="0">chat</a> </div>
                    <div> <a id="consult_btn">consult</a></div>
                </div>
            </ul>

        </div>
        <!-- menu end -->
        <!-- gnb 영역 -->

        <div id="gnb">
            {% if userid != undefiend %}
            <a href="/user/info?checked=0" id="user">{{userid}} 님</a>
            {% endif %}
            <div id="text_event">
                <h1><span id="question">컴퓨터</span>는 거짓말을 하지 않는다  <p class="p_tag">- 곽인구</p></h1>
               
                <h3>컴퓨터는 때로는 <span id="question2">거짓말</span>을 하는거 같아요... <p class="p_tag p_tag2" >- 정성진 </p></h3>
               
              
                <h5><span id="question3">콘솔</span>  찍어 봤어요?안찍어봤으면 <span id="question4">말</span>을 하지마세요!<p class="p_tag p_tag3">- 엄익균</p></h5>
                
            </div>
            <div id="tum">
                <section id="square">
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                </section>
                <div class="mouse"></div>
            </div>
            <span id="copy">Copyright © 2016. Kyungil Technical College. All rights reserved.</span>
            <!-- <div id="gnb_box">
                <div>
                    <div class="gnb_line"></div>
                    <h2>누적 수강생</h2>
                    <h3>66343명</h3>
                </div>
                <div>
                    <div class="gnb_line"></div>
                    <h2>수업 만족도</h2>
                    <h3>97.87%</h3>
                </div>
            </div> -->
            <form id="apply_form" method="POST" action="/apply">
                <label for="name">name</label>
                <input id="name" name="name" type="text"><br />
                <label for="age">age</label>
                <input id="age" name="age" type="text"></br>
                <label for="number">number</label></br>
                <input id="number" name="number" type="text"></br>
                <label for="content">content</label>
                <textarea name="content" id="content" cols="30" rows="10"></textarea>
                <input id="" type="submit" value="apply">
            </form>
        </div>
    </div>

    {% if popup != undefiend %}
    <input type="hidden" value="{{idArr}}" id="idArr">
    {% for item in popup %}
    <div id="popup_content{{item.id}}">
        <textarea style="display: none;" id="content{{item.id}}">{{item.content}}</textarea>
        <pre id="pre{{item.id}}"></pre>
        <textarea style="display: none;"
            id="setting{{item.id}}">position:absolute;width:{{item.pop_width}}px;height:{{item.pop_height}}px;top:{{item.pop_locationY}}px;left:{{item.pop_locationX}}px</textarea>
        <div id="popup_check">
            <input type="checkbox" name="visibility" id="popup_checkbox{{item.id}}">
            <label for="popup_checkbox{{item.id}}">1일동안 이 창 보지않기</label>
            <button
                style="float:right; color: #fff; background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer"
                id="popup_close{{item.id}}">닫기</button>
        </div>
        <input type="hidden" id="hyperlink{{item.id}}" value="{{item.hyperlink}}">
        <input type="hidden" id="title{{item.id}}" value="{{item.title}}">
        <input type="hidden" id="setting2{{item.id}}"
            value="width = {{item.pop_width}}, height = {{item.pop_height}}, top = {{item.pop_locationY}}, left = {{item.pop_locationX}}, location = no">
        <input type="hidden" id="type{{item.id}}" value="{{item.type}}">
    </div>
    {% endfor %}
    {% endif %}
    <!-- {{item.pop_locationX}};{{item.pop_locationY}};{{item.hyperlink}};{{item.scroll}}; -->


    <script type="text/javascript">

        let idArr = document.querySelector('#idArr').value;
        idArr = idArr.split(',');
        idArr.splice(idArr.length - 1, 1);
        idArr.forEach(v => {
            let popupContent = document.querySelector('#popup_content' + v);
            let closeBtn = document.querySelector('#popup_close' + v);
            let closeOneday = document.querySelector('#popup_checkbox' + v);

            closeBtn.addEventListener('click', () => {
                popupContent.setAttribute('style', 'display:none')
            })

            closeOneday.addEventListener('click', () => {
                setCookie("popupCookie", "popupEnd", 1);
            })

        })
        function setCookie(name, value, expiredays) {
            var today = new Date();
            today.setDate(today.getDate() + expiredays); // 현재시간에 하루를 더함 
            document.cookie = name + '=' + escape(value) + '; expires=' + today.toGMTString();
        }

        const chatBtn = document.querySelector('#cha_btn')
        function popup() {
            let url = 'http://localhost:3000/chat'
            let name = '채팅'
            let option = 'width = 500 ,height = 500 ,top = 100 , left = 200, location = no'

            window.open(url, name, option);
        }
        chatBtn.addEventListener('click', popup)

        let msg = '{{msg}}'
        if (msg != '') {
            alert('{{msg}}');
        }

        let a = 0;
        const square = document.querySelector('#square');
        square.addEventListener('click', moving);
        const mouse = document.querySelector(".mouse");
        function moving() {
            if (a == 0) {
                a = 1; console.log(a);
                window.addEventListener("mousemove", controll);
            } else {
                window.removeEventListener("mousemove", controll);
                square.style.animation = 'rint 10s linear 0s infinite'
                a = 0;

            }

        }
        function controll(e) {
            const mouseX = e.clientX;
            const mouseY = e.clientY;
            const X = mouseX / 2;
            const Y = mouseY / 2;
            square.style.animation = 'none'
            square.style.transform = `rotateX(${X}deg) rotateY(${X}deg)`;
        }

        let consult_btn = document.querySelector('#consult_btn');
        let apply_form = document.querySelector('#apply_form');
        let btn_box = document.querySelector('#btn_box');
        let fleg = 0;
        function apply() {
            if (fleg == '0') {
                apply_form.style.display = 'block';

                fleg = 1;
            } else {
                apply_form.style.display = 'none';
                fleg = 0;
            }
        }
        consult_btn.addEventListener('click', apply)
    </script>
</body>

</html>