<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main/apple.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Viaoda+Libre&display=swap"
        rel="stylesheet">
        
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let idArr = document.querySelector('#idArr').value;
            idArr = idArr.split(',');
            idArr.splice(idArr.length - 1, 1);
            idArr.forEach(v => {
                let content = document.querySelector('#content' + v);
                let pre = document.querySelector('#pre' + v);
                let setting = document.querySelector('#setting' + v);
                let popupContent = document.querySelector('#popup_content' + v)
                popupContent.style.cssText = `${setting.value};border:1px solid #000`;
                pre.innerHTML = `${content.value}`
            })
        });
            // document.querySelector('.abc').style.cssText  = 'background-color:red; width:300px; height:300px;';
    </script>
    {% if popup != "" %}
    <script type="text/javascript">
        setTimeout(function () {
            var url = "https://chlolisher.tistory.com/101";
            var name = "popup test";
            var option = "width = 500, height = 500, top = 100, left = 200, location = no";
            window.open(url, name, option)
        }, 2000)
    </script>
    {% endif %}
</head>

<body>
    <div id="wrap">
        <div id="loding_mode">
            <div class="loading-container">
                <div class="loading"></div>
                <div id="loading-text">loading</div>
            </div>
        </div>
        <!-- <div style="background: black; height: 80px; position:absolute; top:-300px; "></div> -->
        <div id="menu">
            <ul>
                <img id="logo" src="/uploads/logo_bottom_2018.png">
                <li> <a href="/information">INFORMATION</a> </li>
                <li> <a href="/education">EDUCATION</a> </li>
                <li> <a href="/hired">HIRED</a> </li>
                <li> <a href="/community">COMMUNITY</a> </li>
                <div id="menu_box">
                    {% if session == undefiend %}
                    <div> <a id="login" href="/user/login">login</a> </div>
                    <div> <a id="join" href="/user/join">join</a> </div>
                    {% endif %}

                    {% if session != undefiend %}
                    {% if session.kakao %}
                    <div> <a id="kakao out" class="kakao" href="/auth/kakao/unlink">카카오 로그아웃</a> </div>
                    {% endif %}
                    {% if session.google %}
                    <input type="hidden" class="g-signin2" gapi.auth2.getauthinstance()="onSignIn">
                    <div><a id="google_out" onclick="signOut()">google out</a></div>
                    {% endif %}
                    {% if session.local %}
                    <div> <a href="/user/logout">logout</a> </div>
                    <div> <a href="user/info?checked=0">mypage</a> </div>
                    {% endif %}
                    {% endif %}
                    <div> <a id="cha_btn" data-value="0">chat</a> </div>
                    <div> <a id="consult_btn">consult</a></div>
                </div>
            </ul>

        </div>
        <!-- menu end -->
        <!-- gnb 영역 -->

        <div id="gnb">
            {% if userid != undefiend %}
            <a href="/user/info?checked=0" id="user">{{userid}} 님</a>
            {% endif %}
            <div id="text_event">
                <h1>나는 그저 <span id="question">질문</span> 하는 자다... </h1></br>
                <h3>알고리즘은 내가 던지는 질문이다</h3>
                <h5>답은 그대가 찾아라</h5></br>
                <h5> - 엄익균 </h5>
            </div>
            <div id="tum">
                <section id="square">
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                    <div>
                    </div>
                </section>
                <div class="mouse"></div>
            </div>
            <span id="copy">Copyright © 2016. Kyungil Technical College. All rights reserved.</span>
            <!-- <div id="gnb_box">
                <div>
                    <div class="gnb_line"></div>
                    <h2>누적 수강생</h2>
                    <h3>66343명</h3>
                </div>
                <div>
                    <div class="gnb_line"></div>
                    <h2>수업 만족도</h2>
                    <h3>97.87%</h3>
                </div>
            </div>
            -->
            <form id="apply_form">
                <label for="name">name</label>
                <input id="name" type="text"><br />
                <label for="age">age</label>
                <input id="age" type="text"></br>
                <label for="number">number</label></br>
                <input id="number" type="text"></br>
                <label for="content">content</label>
                <input id="content" type="text">
                <input id="" type="submit" value="apply">
            </form>
        </div>
    </div>

    {% if popup != undefiend %}
    <input type="hidden" value="{{idArr}}" id="idArr">
    {% for item in popup %}
    <div id="popup_content{{item.id}}">
        <textarea style="display: none;" id="content{{item.id}}">{{item.content}}</textarea>
        <pre id="pre{{item.id}}"></pre>
        <textarea style="display: none;"
            id="setting{{item.id}}">position:absolute;background-color:beige;width:{{item.pop_width}}px;height:{{item.pop_height}}px;top:{{item.pop_locationY}}px;left:{{item.pop_locationX}}px</textarea>
        <div id="popup_check">
            <input type="checkbox" name="visibility" id="popup_checkbox{{item.id}}">
            <label for="popup_checkbox{{item.id}}">1일동안 이 창 보지않기</label>
            <button
                style="float:right; color:#fff; background: inherit ; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer"
                id="popup_close{{item.id}}">닫기</button>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <!-- {{item.pop_locationX}};{{item.pop_locationY}};{{item.hyperlink}};{{item.scroll}}; -->


    <script type="text/javascript">

        const chatBtn = document.querySelector('#cha_btn')
        function popup() {
            let url = 'http://localhost:3000/chat'
            let name = '채팅'
            let option = 'width = 500 ,height = 500 ,top = 100 , left = 200, location = no'

            window.open(url, name, option);
        }
        chatBtn.addEventListener('click', popup)
    </script>

    <script type="text/javascript">

        let a = 0;
        const square = document.querySelector('#square');
        square.addEventListener('click', moving);
        const mouse = document.querySelector(".mouse");
        function moving() {
            if (a == 0) {
                a = 1; console.log(a);
                window.addEventListener("mousemove", controll);
            } else {
                window.removeEventListener("mousemove", controll);
                square.style.animation = 'rint 10s linear 0s infinite'
                a = 0;

            }

        }
        function controll(e) {
            const mouseX = e.clientX;
            const mouseY = e.clientY;
            const X = mouseX / 2;
            const Y = mouseY / 2;
            square.style.animation = 'none'
            square.style.transform = `rotateX(${X}deg) rotateY(${X}deg)`;
        }
    </script>
    <script type="text/javascript">

        let consult_btn = document.querySelector('#consult_btn');
        let apply_form = document.querySelector('#apply_form');
        let btn_box = document.querySelector('#btn_box');
        let fleg = 0;
        function apply() {
            if (fleg == '0') {
                apply_form.style.display = 'block';
                btn_box.style.bottom = '30vh'
                fleg = 1;
            } else {
                apply_form.style.display = 'none';
                btn_box.style.bottom = '0vh'
                fleg = 0;
            }
        }
        consult_btn.addEventListener('click', apply)


    </script>
</body>

</html>