<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main/chat.css">
</head>

<body>
    <div id="wrap">
        <div id="chat">
            <div>
                <div>관리자</div>
                <span class="you"> 안녕하세요</span>
            </div>
            <div>
                <span class="me">안녕하세요</span>
            </div>
        </div>
        <div id="chatinputArea">
            <input type="text" id="msg">
            <input type="button" id="btn" value="버튼">
        </div>
    </div>

    <script type="text/javascript" src="./socket.io.js"></script>
    <script>
        let socket = io();
        const you = document.querySelector('.you')
        const come = document.querySelector('.come')
        const chat = document.querySelector('#chat');
        const btn = document.querySelector('#btn');
        const msg = document.querySelector('#msg')
      


        socket.on('connect', () => {
            let name = prompt('닉네임을 입력해주세요', '')
            if (!name) {
                name = '익명'
            }
            socket.emit('newUser', name)
        })
        socket.on('update', (data) => {
            const div = document.createElement('div');
            const span = document.createElement('span');
            span.innerHTML = data.message;
            span.classList.add('come');
            div.appendChild(span)
            div.classList.add('Come');
            chat.appendChild(div)
            chat.scrollTop = chat.scrollHeight;
        })


        btn.addEventListener('click',send)
        function send() {
            if (msg.value == '') {
                return;
            } else {
                socket.emit('send',msg.value);
                addCard(msg.value,'me',socket.name);
                msg.value = '';
                chat.scrollTop = chat.scrollHeight;
                console.log(time);                                                                                                                                       
            }
        }
        socket.on('msg', (data) => {
            console.log('name' + data.name + '내용' + data.content);
            addCard(data.content,'you',data.name)
            chat.scrollTop = chat.scrollHeight;
        })
        function addCard(text,type,name) {
            let today = new Date();
            let time = today.getHours()+':'+today.getMinutes()
            const div = document.createElement('div');
            const span = document.createElement('span');
            const span2 = document.createElement('span')
            const p = document.createElement('p');
            if(type == 'you'){
            span2.innerHTML=name;
            span2.classList.add('other');
            div.appendChild(span2);
          }
            span.innerHTML = text;
            span.classList.add(type);
            div.appendChild(span);
            p.innerHTML = time;
            p.classList.add('time');
            div.appendChild(p);
            chat.appendChild(div);
            msg.value = '';
            
        }

        // 채팅 부분 
    //     const btn = document.querySelector('#btn');
    //     const content = document.querySelector('#chat')
    //    socket.on('connect', () => {
    //             console.log('연결됨');
    //    })

    //     btn.addEventListener('click', send)
    //     function send() {
    //         socket.emit('send', msg.value)
    //         addCard(msg.value, 'me');
    //     }

    //     socket.on('msg', (data) => {
    //             console.log('you:'+data);

    //             addCard(data,'you')
    //          })
    //          function addCard(text, type) {
    //         const div = document.createElement('div');
    //         const span = document.createElement('span');
    //         const chat = document.querySelector('#chat');

    //         span.innerHTML = text;
    //         span.classList.add(type);
    //         div.appendChild(span);
    //         chat.appendChild(div)
    //     }

    //     async function getChatRoom() {
    //         let url = 'http://localhost:3000/chat'
    //         let options = {
    //             method: 'GET'
    //         }
    //         let response = await fetch(url, options);
    //         let result = await response.text();
    //         chatRoom.innerHTML = result;
    //     }

    //     function isJson(str) {
    //         try {
    //             let json = JSON.parse(str)
    //             return (typeof json == 'object')
    //         } catch (e) {
    //             return false;
    //         }
    //     }


    </script>
</body>

</html>