<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./ground.css">
    <script src="../../jquery-3.6.0.js"></script>
     <script src="../../jquery-3.6.1.js"></script>
    <meta name="viewport" />

</head>
<body>
    <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTA1MDhfMjcz%2FMDAxNjIwNDQ2OTk1MTQx.YmkWDOkKINoendsTrTv9HHLTITZIaM-_wBLfZfIDJ7Ug.7awrTdPQlmPg_opQMAF7ulGbsaFNI8nPM9Y2z06L35wg.JPEG.hellowca%2FLFMM.jpg&type=sc960_832" id="car" />
     <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDA5MjRfMTY4%2FMDAxNjAwOTU3NDg1MTEz.pu0Neij-HucmalP0FsQkjd_CmV8hB39Ajahd4Y7wpUAg.WhRwAEdq5GuElwf0rU6VL7jd8eXNF78lDjGgV42A1zQg.JPEG.jayhy18%2FIMG_0508.jpg&type=ofullfill340_600" id="background"/>
     <script type="text/javascript">
    let car, background;
    let x = 0, y = 0;
     let mx = 0, my = 0; 
     const speed = 0.03; 
     const loop = () =>{ mx += (x - mx) * speed;
         my += (y - my) * speed; window.requestAnimationFrame(loop); } 
     const mouseFunc = (e) =>{ 
         x = (e.clientX-window.innerWidth/2), y = (e.clientY-window.innerHeight/2); 
         car.style.transform = `translate(${-(mx/50)}px, ${-(my/50)}px)`;
      background.style.transform = `translate(${(mx/12)}px, ${(my/6)}px)`; } 
      window.onload = () =>{ car = document.getElementById("car");
       background = document.getElementById("background"); 
       loop(); window.addEventListener("mousemove", mouseFunc); }

    </script>

    <div class="loader"></div>
 <div class="moving">

    <script>
        $(window).load(function () {
            $('.loader').delay(3000).fadeOut();
        });
    </script>

 </div>
</body>
</html>