<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <meta name="google-signin-client_id" content="271562730452-rufsjg41rp8hhbno7686je73714i5dpu.apps.googleusercontent.com">
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v10.0&appId=4064419383640755" nonce="SiOBIhLG"></script>
	<script type="text/javascript">
		function onSignIn(googleUser){
			let profile = googleUser.getBasicProfile();
			console.log(profile);
			console.log('ID:' + profile.getId());
			console.log('name:' + profile.getName());
			console.log('image url:' + profile.getImageUrl());
			console.log('email:' + profile.getEmail());
		}
		function signOut(){
			let auth2 = gapi.auth2.getAuthInstance();
			auth2.signOut().then(function() {
				console.log('User signed out');
			})
			auth2.disconnect();
		}
	
		</script>
</head>

<!-- google key : AIzaSyDQSByPF9_abC9Gb5PLJK93mNelv-XZzic
client id : 271562730452-rufsjg41rp8hhbno7686je73714i5dpu.apps.googleusercontent.com
client password : wMc8se_eBobJrH2EN-r3JF6z -->

<a href="/auth/kakao">카카오 로그인</a>

<div class="g-signin2" data-onsuccess="onSignIn"></div>
<a href="#" onclick="signOut()">Sign out</a>

<ul>
	<li onclick="fnFbCustomLogin()">
	<a href="javascript:void(0)">
		<span>페이스북 로그인</span>
	</a>
</li>
</ul>


<script>
	function statusChangeCallback(res){
	statusChangeCallback(response);
}

function fnFbCustomLogin(){
	FB.login(function(response) {
		if (response.status === 'connected') {
			FB.api('/me', 'get', {fields: 'name,email'}, function(r) {
				console.log(r);
			})
		} else if (response.status === 'not_authorized') {
			// 사람은 Facebook에 로그인했지만 앱에는 로그인하지 않았습니다.
			alert('앱에 로그인해야 이용가능한 기능입니다.');
		} else {
			// 그 사람은 Facebook에 로그인하지 않았으므로이 앱에 로그인했는지 여부는 확실하지 않습니다.
			alert('페이스북에 로그인해야 이용가능한 기능입니다.');
		}
	}, {scope: 'public_profile,email'});
}

window.fbAsyncInit = function() {
	FB.init({
		appId      : '4064419383640755', // 내 앱 ID를 입력한다.
		cookie     : true,
		xfbml      : true,
		version    : 'v10.0'
	});
	FB.AppEvents.logPageView();   
};
/*
instagram id: 480919806523168
  secret code : 06c4ae9c966ae9c13159d6fa35c3fbe1
  인증코드 :https://localhost:3000/?code=AQDyUG6hwsEOdJpy9iPfeEmFWJXXlzi_2KvkvWjW2UeKuBOmYd2R8f-eSxdZjT1hfzolXZKABtbtwELoinlFH8asI79OINoSMgxOdJ6tMo3gEJlduwybiaiQEqN8XqfZDNxMPcJKbdWRV59a48Eblmha94xbRxuo_FOzB02e_m5wuCGPxCusEHGSpYCdU6X4V5tAeHwD7R6Eu_B2z7HkuX8I0F7LFaTNl6aAo9KTqyngww#_
  토큰 : IGQVJVel91cjlnczFONEhFSlNZAUUd6cjNJZAUM3SndUbUNBSXEyWGF3UVczZAzlUMExHQmZASQlFpajVudjJWbG41dzRpY1dIbUZAXLS1qWE5yYmRMUUNDSy0xMUUtUWktUWE4WnBhR2RvUXEycmJFQ2FOWQZDZD
*/ 
  </script>
<body>
    
</body>
</html>
