<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main/mainpage.css">
</head>

<body>
    <!-- lodding start -->
    <div id="loding_mode">
        <div class="loading-container">
            <div class="loading"></div>
            <div id="loading-text">loading</div>
        </div>
    </div>
     <!-- lodding end -->
    <div id="wrap">
        <div id="menu">
            <ul>
                <li><a href="#">MENU</a></li>
                <li><a href="#">MENU</a></li>
                <li><a href="#">MENU</a></li>
                <li><a href="#">MENU</a></li>
                <li><a href="#">MENU</a></li>
            </ul>
        </div>
        <div id="gnb">
            <section id="square">
                <div>
                <a href="#">블록체인</a>
                </div>
                <div>
                <a href="#">학원소개</a>
                </div>
                <div>
                <a href="#">커뮤니티</a>
                </div>
                <div>
                <a href="#">상담신청</a>
                </div>
                <div>
                <a href="#">점심시간</a>
                </div>
                <div>
                <a href="#">오시는길</a>
                </div>
            </section>
            <div class="mouse"></div>
        </div>

        <script type="text/javascript">
            const square = document.querySelector('#square');
            square.addEventListener('mousedown', moving);
            const mouse = document.querySelector(".mouse");
            function moving() {
                document.addEventListener("mousemove", (e) => {
                    const mouseX = e.clientX;
                    const mouseY = e.clientY;
                    const X = mouseX / 2;
                    const Y = mouseY / 2;
                    mouse.style.left = mouseX + 'px';
                    mouse.style.top = mouseY + 'px';
                    square.style.transform = `rotateX(${X}deg) rotateY(${X}deg)`;
                });
            }

        </script>


        <div id="apply_btn">상담신청</div>
    </div>

    <div id="apply_form">
        <label for="name">name</label>
        <input id="name" type="text"><br />
        <label for="age">age</label>
        <input id="age" type="text">
    </div>
    <script type="text/javascript">
        const apply_btn = document.querySelector('#apply_btn');
        const apply_from = document.querySelector('#apply_form');
        let flag = 0;
        apply_btn.addEventListener('click', () => {
            if (flag == 0) {
                apply_btn.setAttribute('class', 'btn_open');
                apply_from.setAttribute('class', 'apply_open');
                flag = 1;
            } else if (flag == 1) {
                apply_btn.setAttribute('class', 'btn_close');
                apply_from.setAttribute('class', 'apply_close');
                flag = 0;
            }
        })
    </script>
</body>

</html>