
html,body{height:100%;}body{display:flex;flex-direction:column;align-items:center;justify-content:center;width:100%;background:bg;}


#ball {
  size: 100px;
  border-radius: 80%;
  height: size;
  width: size;
  transform:
    translateX(calc(var(--mouse-x) * 0.2px))
    translateY(calc(var(--mouse-y) * 0.2px));
  background: goldenrod;
}