<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./square.css">
    <!-- <script src="./prefixfree.min.js"></script>  xmlns="http://www.w3.org/1999/xhtml"-->
</head>
<body>
    <section id="square">
        <div><h1>1</h1></div>
        <div><h1>2</h1></div>
        <div><h1>3</h1></div>
        <div><h1>4</h1></div>
        <div><h1>5</h1></div>
        <div><h1>6</h1></div>
    </section>
    <div class="mouse"></div>

    <script type="text/javascript">
    const square = document.querySelector('#square');
    square.addEventListener('mousedown',moving);
    const mouse = document.querySelector(".mouse");
    function moving() {
        document.addEventListener("mousemove", (e) => {
            const mouseX = e.clientX;
            // console.log('x좌표:'+mouseX);
            const mouseY = e.clientY;
            // console.log('y좌표:'+mouseY);
            const X = mouseX/2;
            const Y = mouseY/2;
            console.log('X:'+X);
            console.log('Y:'+Y);
            mouse.style.left = mouseX + 'px';
            mouse.style.top = mouseY + 'px';
            square.style.transform=`rotateX(${X}deg) rotateY(${X}deg)`;
        });
    }

    </script>
</body>
</html>