<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main/test.css">
</head>
<body>
    <div id="wrap">
        <div id="header">
        <a href="/user/login"> <h1> 로그인</h1></a>
        <a href="/admin"> <h1> 관리자</h1></a>
    </div>
        <div id="middle">
            <a href="/community" id="planet1" class="rel"><img class="planet"  src="https://t1.daumcdn.net/cfile/tistory/193DC633503F4CF704"></a>
            <a href="/community" id="planet2" class="rel"><img class="planet"  src="https://t1.daumcdn.net/cfile/tistory/203DC633503F4CFA05"></a>
            <a href="/community" id="planet3" class="rel"><img class="planet"  src="https://t1.daumcdn.net/cfile/tistory/123DC633503F4CFB06"></a>
            <a href="/community" id="planet4" class="rel"><img class="planet"  src="https://t1.daumcdn.net/cfile/tistory/153DC633503F4D010A"></a>
            <a href="/community" id="planet5" class="rel"><img class="planet"  src="https://t1.daumcdn.net/cfile/tistory/163DC633503F4D010B"></a>
            <a href="/community" id="planet6" class="rel"><img class="planet"  src="https://t1.daumcdn.net/cfile/tistory/163DC633503F4CF503"></a>
        </div>
        <div id="bottum"></div>
    </div>
    <div class="circle"></div>
    <script>
           const circle = document.querySelector(".circle");
        
        document.addEventListener("mousemove", (e) => {
            const mouseX = e.clientX;
            const mouseY = e.clientY;
            circle.style.left = mouseX + 'px';
            circle.style.top = mouseY +100+ 'px';
        });
    </script>
</body>
</html>