a{
    color: #000;
}

#info_header{
    text-align: center;
    margin-top: 50px;
}

#content_header{
    display: block;
    height: 80px;
    margin-top: 50px;
    background-color: #ededed;
}

#content_header > ul > li{
    float:left;
}

#content_wrap{
    height: 500px;
    margin-top: 30px;
    background-color: #ededed;
}

#content{
    height: 100%;
}

#content_img{
    display: block;
    height: 200px;
    width: 300px;
}

#footer{
    height: 100px;
    margin-top:30px;
    background-color: #ededed;
}
#