<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main/main.css">
</head>

<body>
    <div id="wrap">
        <div id="header">
            <div>애플로고</div>
            <div>
                <ul>
                    <li>메뉴1</li>
                    <li>메뉴2</li>
                    <li>메뉴3</li>
                    <li>메뉴4</li>
                    <li>메뉴5</li>
                </ul>
            </div>
            <div>로그인 메뉴</div>
        </div>
       
        <div class="line" id="middle">
            <div>
            <h1>블록체인</h1>
            <a href="#">바로가기</a>
            </div>
        </div>
        <div class="line">
            <div>
                
            <h1>프로그래밍</h1>
            <a href="#">바로가기</a>
            </div>
        </div>
        <div class="line">
            <div>
            <h1>게임 프로그래밍</h1>
            <a href="#">바로가기</a>
            </div>
        </div>
        <div class="line">
            <div>
            <h1>프로그래머 코칭</h1>
            <a href="#">바로가기</a>
            </div>
        </div>
        <div class="line">
            <div>
            <h1>AR/VR</h1>
            <a href="#">바로가기</a>
            </div>
        </div>
        <div class="line">
            <div>
            <h1>게임 기획</h1>
            <a href="#">바로가기</a>
            </div>
        </div>
    </div>
<!-- 
    <div class="line" id="top">
        <form action="/login" method="post">
            <div>아이디 <input type="text" name="id"></div>
            <div>비밀번호 <input type="password" name="pw"></div>
            <div>비밀번호 확인 <input type="password" name="pw_check"></div>
            <div><input type="submit" value="login"></div>
        </form>
        <a href="/auth/kakao">카카오 로그인</a>
    </div>
-->
</body>

</html>