<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main/view.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>

<body>
    <div id="wrap">
        <div id="header">
            제목 : {{view.title}} </br>
            작성자 : {{view.userid}}</br>
            작성날짜 : {{dt}}</br>
            내용 : {{view.content}}</br>
            이미지 : <img src="{{view.board_image}}" style="width: 100px;height: 100px;"></br>
            조회수 : {{view.hit}}</br>
            카테고리 : {{view.type}}</br>
        </div>
        <a class="tag" href="/board/modify?idx={{idx}}">수정하기</a>
        <a class="tag" href="/board">목록으로 가기</a>
        <a class="tag" href="/board/delete?idx={{idx}}">삭제하기</a>
        <div id="middle">
            <div id="comment">댓글
                <ul>
                    <form id="modi_form" action="/board/comment/modify" method="POST">
                    {% for item in see %}
                        <li>{{item.dataValues.userid}}님</li>
                        <li id="modi{{item.dataValues.id}}" class="lie">
                            <p>{{item.dataValues.content}}</p>
                            <input class="modi_id" name="id" type="text" style="display: none;" value="{{item.dataValues.id}}">
                            <input type="button" id="modify{{item.dataValues.id}}" class="modify" value="수정하기">
                            <a href="/comment/delete?id={{item.dataValues.id}}&idx={{idx}}">삭제</a>
                        </li>
                    {% endfor %}
                    </form>
                </ul>
            </div>

            <span>댓글</span>
            <form action="/board/comment" method="POST">
                <input type="hidden" name="userid" value="{{userid}}">
                <input type="hidden" name="idx" value="{{idx}}">
                <input id="write" type="text" name="content" style="width: 500px; height: 50px;">
                <input id="btn" type="submit" value="댓글달기">
            </form>
        </div>
        <button id="btn0">데이터 가져오기</button>
        <div id="root"></div>
    </div>
    <script type="text/javascript">
        let modify = document.querySelectorAll('.modify');
        let modi_id = document.querySelector('#modi_id');
        let lie = document.querySelectorAll('.lie');
        

        lie.forEach(v => {
            let text = v.children[0].innerHTML;
            let flag = 0;
            v.children[2].addEventListener('click', () => {
                if (flag == 0) {
                    let input = document.createElement('input');
                    input.setAttribute('type','text')
                    input.setAttribute('name','content');
                    input.setAttribute('value',text)
                    v.appendChild(input);
                    
                    flag = 1;
                } else if (flag == 1) {
                    const modi_form = document.querySelector('#modi_form');
                    flag = 0;
                    console.log(document.querySelector('input[name=content]').value);
                    modi_form.submit();
                }

            });
        })


        //     console.log(modi_id)



        function getData() {
            console.log('aaaaa');
            axios.get('http://localhost:3000/board')
                .then((res) => {
                    const root = document.querySelector('#root');
                    const div = document.createElement('div');
                    div.innerHTML = res.data;
                    root.appendChild(div);

                    console.log(res.data);
                })
        }
        const btn = document.querySelector('#btn0');
        btn.addEventListener('click', getData);


    </script>

    </script>
</body>

</html>