<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/board/write" method="POST" >
    <span>제목</span><input type="text" name="title" id="title"></br>
    <span>작성자</span><input type="text" name="userid" id="userid"></br>
    <span>내용</span><input type="text" name="content" id="content"></br>
    <span>이미지</span><input type="file" name="board_image" id="board_image"></br>
    <span>타입</span><input type="text" name="write_type" id="write_type"></br>
    <input type="submit" value="저장">
</form>
    
</body>
</html>