<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main/list.css">
</head>

<body>


    <div id="wrap">
        <h2 id="subject"> list menu</h2>
        <div id="header">
            <a href="/community/write">글작성</a>
            <table>
                <tr>
                    <td>제목</td>
                    <td>작성자</td>
                    <td>작성일</td>
                    <td>내용</td>
                    <td>조회수</td>
                    <td>타입</td>
                </tr>
                {% for item in result %}
                <tr>
                    <td><a href="/community/view?id={{item.id}}">{{item.title}}</a></td>
                    <td><a href="/community/view?id={{item.id}}">{{item.userid}}</a></td>
                    <td><a href="/community/view?id={{item.id}}">{{item.write_date}}</a></td>
                    <td><a href="/community/view?id={{item.id}}">{{item.content}}</a></td>
                    <td><a href="/community/view?id={{item.id}}">{{item.hit}}</a></td>
                    <td><a href="/community/view?id={{item.id}}">{{item.type}}</a></td>
                </tr>
                {% endfor %}
            </table>
           
        </div>
        <a href="/user/login">login 하러 가기</a>
        <a href="/">메인 페이지 가기</a>
    </div>
   
</body>

</html>