<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main/write.css">
</head>

<body>
    수정하기
    <div id="wrap">
        <div id="header">
            <form action="/community/modify" method="POST" enctype="multipart/form-data">
                <span>제목</span>
                </br>
                <input class="w500" type="text" name="title" id="title" value="{{modify.title}}">
                </br>
                <span>작성자</span>
                </br>
                {{modify.userid}} 님
                </br>
                <span>이미지</span>
                </br>
                <input type="hidden" name="community_image1" value="{{modify.community_image}}">
                <img src="{{modify.community_image}}" style="width: 150px; height: 150px;">
                <input type="file" name="community_image" id="community_image">
                </br>
                <span>타입</span>
                </br>
                Q&A<input type="radio" name="type" value="Q&A">게시판<input type="radio" name="type" value="게시판">공지사항<input type="radio" name="type" value="공지사항"></br>
                </br>
                <span>내용</span>
                </br>
                <input class="w500" type="text" name="content" id="content" value="{{modify.content}}">
                </br>
                <input type="hidden" name="id" id="id" value={{modify.id}}>
                <input type="submit" value="수정하기">
                <a href="/community">목록으로 가기</a>
                <a href="/community/delete?id={{id}}">삭제하기</a>
            </form>
        </div>
    </div>
</body>

</html>