{% include "../template/top.html" %}

{% if modify == undefiend %}
<div id="write_box">
    <form id="form" action="/community/write" method="POST" enctype="multipart/form-data">
        <p>제목</p>
        <input class="w500" type="text" name="title" id="title">
        <p>작성자 : {{userid}} 님</p>
        <input class="w500" type="hidden" name="userid" id="userid" value="{{userid}}">
        <p>이미지</p>
        <input class="w500" type="file" name="community_image" id="community_image">
        <p>쓰는곳 : {{type}}</p>
        <input type="hidden" name="type" value="{{type}}">
        <p>내용</p>
        <textarea id="cont" name="content" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="저장">
</div>
</form>
{% endif%}
{% if modify != undefiend %}
<div id="write_box">
    <form id="form" action="/community/write" method="POST" enctype="multipart/form-data">
        <p>제목</p>
        <input class="w500" type="text" name="title" id="title" value="{{modify.title}}">
        <p>작성자 : {{modify.userid}} 님</p>
        <input class="w500" type="hidden" name="userid" id="userid" value="{{modify.userid}}">
        <p>이미지</p>
        <input class="w500" type="file" name="community_image" id="community_image" value="{{modify.community_image}}">
        <p>쓰는곳 : {{modify.type}}</p>
        <input type="hidden" name="type" value="{{modify.type}}">
        <p>내용</p>
       <textarea id="cont" name="content" id="" cols="30" rows="10" value="{{modify.content}}"></textarea>
        <input type="submit" value="저장">
</div>
</form>
{% endif %}

{% include "../template/bottom.html" %}