*{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
#wrap{
    width: 100vw;
    height: 100vh;
}
#chat{
    width: 100vw;
    height: 94vh;
    overflow-y: scroll;
}
.Come{
    width: 350px;
    height: 25px;
    margin: 0 auto;
}
.time{
    display: inline-block;
}
.come{
    display: block;
    width: 350px;
    height: 25px;
    background: silver;
    border-radius: 12.5px;
    text-align: center;
}
.other{
display: block;
}
/* #chat>div{
    height: 30px;
    padding: 5px;
} */
#chat>div>span.you,.me{
    display: inline-block;
    padding: 7px 14px;
    border-radius: 15px;
    border: 1px solid black;
}

/* #chat>div>span.you{
} */
.nick{
  position: relative;
  top: 0;
}
#chat>div>span.me{
    float: right;
}
#chatinputArea{
    width: 100vw;
    height: 5vh;
}
#chatinputArea>input:nth-child(1){
    width: 90vw;
    height: 5vh;
    padding: 7px 14px;
    box-sizing: border-box;
}
 #chatinputArea>input:nth-child(2){
     width: 5vw;
     height: 5vh;
    background: #eee;
} 