*{
    margin:0;
    padding:0;
    overflow-x: hidden;
}

#wrap{
    width: 100vw;
    height: 100vh;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

.center{
    width: 80vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

#header{
    width: 100vw;
    height: 8vh;
    background-color: #ededed;
}

#header > ul > li{
    float: left;
    padding: 2.5vh 10vw;
}

#header > ul > li > a{
    font-size: 2.3vh;
    color: #2e2b2bd7;
}

#content{
    margin-top: 5vh;
}

#logo{
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
}

#logo > img{
    display: inline-block;
    width: 12vw;
    height: 15vh;
}

#content > h1{
    font-size: 5vh;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#atags{
    margin-top: 20px;
    width: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#atags > a{
    display: inline-block;
    width: auto;
    height: 50px;
    padding: 15px;
    text-align: center;
    border: 1px solid #2e2b2bd7;
    box-sizing: border-box;
    color: #2e2b2bd7;
    overflow: hidden;
}

#sub_content{
    width: 100%;
    min-height: 50vh;
    margin-top: 3vh;
    margin-left: 50%;
    padding: 20px;
    box-sizing: border-box;
    transform: translateX(-50%);
    text-align: center;
    background-color: #ededed;
}

#sub_header{
    position: absolute;
    width:100vw;
    height: 0vh;
    background-color: rgb(90, 83, 83);
    text-align: center;
    overflow:hidden;
    z-index: 4;
}

#sub_header > ul{
    float: left;
    padding: 1.5479876160990713vh 0;
    width:23.4375vw
}

#sub_header > ul >li{
    line-height: 25px;
}

.header_open{
    animation: headerOpen 1s;
    animation-fill-mode: forwards;
}

.header_close{
    animation: headerClose 1s;
    animation-fill-mode: forwards;
}

@keyframes headerOpen{
    from{
        height: 0vh;
    }to{
        height: 17vh;
    }
}

@keyframes headerClose{
    from{
        height: 17vh
    }to{
        height: 0vh
    }
}

#footer{
    height: 100px;
}