*{
    margin:0;
    padding:0;
}

#wrap{
    width: 100vw;
    height: 100vh;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}
textarea{
    resize: none;
}

#header{
    width: 100vw;
    height: 100px;
    position: relative;
}

#header > ul{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    line-height: 75px;
}

#header > ul > li{
    width: 200px;
    height: 75px;
    margin: 0 40px 0 0 ;
    float: left;
    text-align: center;
}



#header > ul > li > a{
    font-size: 2.3vh;
    color:  #003264;
}

#headerImg{
    margin-top: 20px;
}
#sub_header{
    display: none;
    width: 100vw;
    height: 180px;
    position: absolute;
    z-index: 1;
    background: rgba(50,50,50,0.9);
}
#just{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    
}

#just > ul{
    width: 200px;
    height: 100%;
    float: left;
    margin-right: 40px;
}


#just > ul >li{
    width: 200px;
    margin-top: 15px;
    text-align: center;
}

#just > ul > li > a{
    font-size:15px;
    color: #afafaf;
}
#just > ul > li > a:hover{
    color: #fff;
}
.header_open{
    animation: headerOpen 2s;
    animation-fill-mode: forwards;
  
}

.header_close{
    animation: headerClose 1s;
    animation-fill-mode: forwards;
}

@keyframes headerOpen{
    from{
       opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes headerClose{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}
#content{
    margin-top: 5vh;
    min-height: 600px;
}

#logo{
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    cursor: pointer;
}

#logo > img{
    display: inline-block;
    width: 12vw;
    height: 15vh;
}

#content > h1{
    margin-left: 60% ;
    transform: translateX(-50%);
    text-align: center;
}



#list_subject{
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
}
#list_subject>h1{
    font-weight: normal;
    color: #003264;
}
#list_subject_law{
    width: 100%;
    border-bottom: 1px solid black;
}
#board_list{
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    font-size: 16px;
}
#board_list>tbody>tr{
    display: block;
    height: 40px;
    box-sizing: border-box;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
}
#board_list>tbody>tr>td:nth-child(1){
    width: 60px;
}
#board_list>tbody>tr>td:nth-child(2){
    width: 450px;
}
#board_list>tbody>tr>td:nth-child(3){
    width: 87px;
}
#board_list>tbody>tr>td:nth-child(4){
    width: 87px;
}
#board_list>tbody>tr>td:nth-child(5){
    width: 87px;
}
#board_list>tbody>tr>td:nth-child(6){
    width: 87px;
}
.page{
    width: 20px;
    height: 20px;
    font-size: 12px; 
    display: inline-block;
    z-index: 10;
    color: #999 ;
    line-height: 22px;
    margin-right: 5px;
    border: 1px solid #c7c7c7;

}

#footer{
    width:100%;
   
}
#main_tag{
    font-size: 32px;
    position: relative;
    bottom: 0;
}

#footer > #pagenation{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding : 20px;
}

#fixed{
    position: fixed;
    right: 0;
    bottom: 25%;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 3px #2222;
    padding: 10px;
    box-sizing: border-box;
}
#fixed>a{
    display: block;
}
#square{
    width: 40px;
    height: 40px;
    position: relative; 
    left: 58%;
    transform: translate(-50%);
    transform-style: preserve-3d;
    animation: rint 10s linear 0s infinite;
    margin: 20px 0;
}
@keyframes rint{
    from{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    to{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}
#square > div{
    width: 40px;
    height: 40px;
    position: absolute;
    /* opacity: 0.3; */
    /* backface-visibility: hidden; */
    /* opacity: 0.3; */
}

#square > div:nth-child(1){
    transform: rotateY(0deg) translate3d(0px, 0px, 20px);
    border: 1px solid black;
}
#square > div:nth-child(2){
    transform: rotateY(90deg) translate3d(0px, 0px, 20px);
    border: 1px solid black;
}
#square > div:nth-child(3){
    transform: rotateY(180deg) translate3d(0px, 0px, 20px);
    border: 1px solid black;
}
#square > div:nth-child(4){
    transform: rotateY(270deg) translate3d(0px, 0px, 20px);
    border: 1px solid black;
}
#square > div:nth-child(5){
    transform: rotateX(90deg) translate3d(0px, 0px, 20px);
    border: 1px solid black;
    
}
#square > div:nth-child(6){
    transform: rotateX(270deg) translate3d(0px, 0px, 20px);
    border: 1px solid black;
}

#menu_border{
    width: 1200px;
    margin: 0 auto;

}
#side_menu{
    width: 260px;
    height: 100%;
    display: inline-block;
    float: left;
    margin-right: 30px;
    padding: 10px 0 0 20px;
    box-sizing: border-box;
}
#side_menu>a{
    display: block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    color: #003264;
}
.menu_ani{
    animation: 0.3s more;
    animation-fill-mode: forwards;
}
@keyframes more{
    from{
        width: 29%;
    }
    to{
        width: 120px;
    }
}
#sub_content{
    width: 905px;
    display: inline-block;
}
#main_tag{
    margin-bottom: 30px;
}

#write_box{
    width: 900px;
    min-height: 400px;
    padding: 10px 0;
    text-align: center;
}
#write_table_law{
    margin: 20px auto;
    width: 95%;
    border-top: 1px solid black;
}
#write_table>tr{
    width: 870px;
}
.first{
    width: 100%;
    border-top: 1px solid black;
}
.first>td:nth-child(1){
    width: 105px;
    height: 40px;
}
.first>td:nth-child(2){
    width: 765px;
    height: 40px;
}

#title{
    width: 747px;
}
#cont{
    width: 745px;
    height: 250px;
    margin: 10px 20px;
}
.mar20{
    margin-top: 20px;
}
#real_footer{
    width: 100vw;
    height: 200px;
    background: #323232;;
    padding: 20px 0;
    margin-top: 50px;
    box-sizing: border-box;
}
#real_footer_con{
    width: 900px;
    height: 100px;
    margin: 40px auto 0 ;
}
#bottom_tag{
    display: inline-block;
    float: right;
}

#bottom_tag>a{
    width: 90px;
    height: 30px;
    padding: 7px 0;
    border-radius: 6px;
    font-size: 12px;
    color: #999;
    border: 1px solid black;
    display: inline-block;
    line-height: 15px;
    text-align: center;
    box-sizing: border-box;
}
#bottom_tag>a:hover{
    background: black;
    color: white;
}
#foot_ment{
    float: right;
    color: #aeaeae;
}
#foot_ment>p:nth-child(4){
    margin-top: 20px;
}

.send{
    width: 90px;
    height: 30px;
    padding: 7px 0;
    border-radius: 6px;
    font-size: 12px;
    color: #999;
    border: 1px solid black;
    display: inline-block;
    line-height: 15px;
    text-align: center;
    box-sizing: border-box;
}
.send:hover{
    background: black;
    color: white;
}

/* education start */

#education_box{
    width: 905px;
    height: 100%;
    border-bottom: 1px solid #a7a7a7;
}
#education_box>div{
    width: 100%;
    height: 250px;
    padding: 30px 0;
    border-top: 1px solid #ddd;
}
#edu_one{
    width: 300px;
    height: 250px;
    background-image:url('https://blog.kakaocdn.net/dn/4Gddy/btqEZ0AA8DU/y1kcR0rb2BVXiGxY7ivKck/img.png');
    background-repeat: no-repeat;
    background-size: 300px 250px;
    box-sizing: border-box;
    display: inline-block;
    position:absolute;
    z-index: 1;
    border-radius: 5px;
}

#background{
    width: 100%;
    height: 100%;
    background-color:rgba(50,50,50,0.9);
    position:absolute;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 0.3px solid #00ffff;
    z-index: 5;
}

.ed_wrap{
    width: 100%;
    height: 100%;
    border: 1px solid #00ffff;
}

.ed_wrap > span{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#00ffff;
    text-shadow: 2px 2px #000;
    font-size: 30px;
}

#edu_two{
    width: 520px;
    height: 250px;
    margin: 0 0 0 330px;
    display: inline-block;
    float: left;
    font-size: 13px;
    color: #666;
    padding: 20px;
    box-sizing: border-box;
}
#edu_two>h2{
    margin-bottom: 30px;
}
#edu_two>span{
    display: block;
    margin-top: 10px;
}
#edu_two>p{
    margin-top: 20px;

}
#edu_two>h2{
    color: #000000;
}

.edu_b{
    display: inline-block;
    width: 160px;
    height: 30px;
    padding: 7px 30px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 6px;
    margin: 20px 10px 0 0 ;
    text-align: center;
}
.edu_b:hover{
    background: #006cdb;
}