#write_box{
    width: 1200px;
    height: 50px;
    margin: 100px auto 0;
    text-align: center;
}
#title{
    width: 800px;
}
#cont{
    width: 800px;
    height: 400px;
}
.mar20{
    margin-top: 20px;
}